:root {
	--I4C-Main-Background-0: #000000;
	--I4C-Main-Background-0-Text: white;
	--I4C-Main-Background-1: #040405;
	--I4C-Main-Background-1-Text: white;
	--I4C-Main-Background-2: #090809;
	--I4C-Main-Background-2-Text: white;
	--I4C-Main-Background-3: #0d0c0e;
	--I4C-Main-Background-3-Text: white;
	--I4C-Main-Background-4: #111013;
	--I4C-Main-Background-4-Text: white;
	--I4C-Main-Background-5: #151418;
	--I4C-Main-Background-5-Text: white;
	--I4C-Main-Background-6: #19171c;
	--I4C-Main-Background-6-Text: white;
	--I4C-Main-Background-7: #1d1b21;
	--I4C-Main-Background-7-Text: white;
	--I4C-Main-Background-8: #211f26;
	--I4C-Main-Background-8-Text: white;
	--I4C-Main-Background-9: #24222a;
	--I4C-Main-Background-9-Text: white;
	--I4C-Main-Background-10: #28262f;
	--I4C-Main-Background-10-Text: white;
	--I4C-Main-Background-11: #2c2a34;
	--I4C-Main-Background-11-Text: white;
	--I4C-Main-Background-12: #302e39;
	--I4C-Main-Background-12-Text: white;
	--I4C-Main-Background-13: #34313d;
	--I4C-Main-Background-13-Text: white;
	--I4C-Main-Background-14: #383542;
	--I4C-Main-Background-14-Text: white;
	--I4C-Main-Background-15: #3c3947;
	--I4C-Main-Background-15-Text: white;
	--I4C-Main-Background-16: #3f3c4b;
	--I4C-Main-Background-16-Text: white;
	--I4C-Main-Background-17: #434050;
	--I4C-Main-Background-17-Text: white;
	--I4C-Main-Background-18: #474455;
	--I4C-Main-Background-18-Text: white;
	--I4C-Main-Background-19: #4b485a;
	--I4C-Main-Background-19-Text: white;
	--I4C-Main-Background-20: #4f4b5e;
	--I4C-Main-Background-20-Text: white;
	--I4C-Main-Border-0: #18171a;
	--I4C-Main-Border-1: #1c1b1e;
	--I4C-Main-Border-2: #201e23;
	--I4C-Main-Border-3: #242228;
	--I4C-Main-Border-4: #27252c;
	--I4C-Main-Border-5: #2b2931;
	--I4C-Main-Border-6: #2f2c36;
	--I4C-Main-Border-7: #33303b;
	--I4C-Main-Border-8: #37343f;
	--I4C-Main-Border-9: #3b3744;
	--I4C-Main-Border-10: #3f3b49;
	--I4C-Main-Border-11: #433e4d;
	--I4C-Main-Border-12: #474252;
	--I4C-Main-Border-13: #4b4657;
	--I4C-Main-Border-14: #4f495c;
	--I4C-Main-Border-15: #534d60;
	--I4C-Main-Border-16: #575165;
	--I4C-Main-Border-17: #5b556a;
	--I4C-Main-Border-18: #5f586e;
	--I4C-Main-Border-19: #635c73;
	--I4C-Main-Border-20: #676078;
	--I4C-Main-Accent-0: #310d80;
	--I4C-Main-Accent-0-Text: white;
	--I4C-Main-Accent-1: #3e119e;
	--I4C-Main-Accent-1-Text: white;
	--I4C-Main-Accent-2: #4a16ba;
	--I4C-Main-Accent-2-Text: white;
	--I4C-Main-Accent-3: #551cd1;
	--I4C-Main-Accent-3-Text: white;
	--I4C-Main-Accent-4: #6023e1;
	--I4C-Main-Accent-4-Text: white;
	--I4C-Main-Accent-5: #6a2eec;
	--I4C-Main-Accent-5-Text: white;
	--I4C-Main-Accent-6: #773df4;
	--I4C-Main-Accent-6-Text: white;
	--I4C-Main-Accent-7: #8854f8;
	--I4C-Main-Accent-7-Text: white;
	--I4C-Main-Accent-8: #9d72fb;
	--I4C-Main-Accent-8-Text: black;
	--I4C-Main-Accent-9: #b796fe;
	--I4C-Main-Accent-9-Text: black;
	--I4C-Main-Accent-10: #d3bfff;
	--I4C-Main-Accent-10-Text: black;
	--I4C-Main-Text-0: #504c59;
	--I4C-Main-Text-1: #7d778b;
	--I4C-Main-Text-2: #a49cb5;
	--I4C-Main-Text-3: #c1b9d4;
	--I4C-Main-Text-4: #d5cde7;
	--I4C-Main-Text-5: #e3ddf2;
	--I4C-Main-Text-6: #eeeaf9;
	--I4C-Main-Text-7: #f7f5fc;
	--I4C-Main-Text-8: #ffffff;
	--I4C-Main-Shadow-0: 0 1px 2px rgba(0, 0, 0, 0.85), 0 0 2px rgba(0, 0, 0, 0.85);
	--I4C-Main-Shadow-1: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
	--I4C-Main-Shadow-2: 0 6px 16px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.4);
	--I4C-Main-Shadow-3: 0 12px 32px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.4);
	--I4C-Main-Shadow-4: 0 32px 64px rgba(0, 0, 0, 0.6), 0 0 16px rgba(0, 0, 0, 0.4);
	--I4C-Main-TableRow-0: #0b0a0d;
	--I4C-Main-TableRow-1: #141318;
	--I4C-Main-TableRow-2: #1b191f;
	--I4C-Main-TableRow-3: #1d1b21;
	--I4C-Main-TableRow-Green-0: #001a00;
	--I4C-Main-TableRow-Green-1: #002000;
	--I4C-Main-TableRow-Green-2: #002500;
	--I4C-Main-TableRow-Green-3: #002600;
	--I4C-Main-TableRow-Red-0: #210000;
	--I4C-Main-TableRow-Red-1: #280000;
	--I4C-Main-TableRow-Red-2: #2c0000;
	--I4C-Main-TableRow-Red-3: #2e0000;
	--I4C-Main-Opaque-White-0: hsla(259, 35%, 90%, 0.05);
	--I4C-Main-Opaque-White-1: hsla(259, 35%, 89%, 0.1);
	--I4C-Main-Opaque-White-2: hsla(259, 35%, 88%, 0.15);
	--I4C-Main-Opaque-White-3: hsla(259, 35%, 87%, 0.2);
	--I4C-Main-Opaque-White-4: hsla(259, 35%, 86%, 0.25);
	--I4C-Main-Opaque-White-5: hsla(259, 35%, 85%, 0.3);
	--I4C-Main-Opaque-White-6: hsla(259, 35%, 84%, 0.4);
	--I4C-Main-Opaque-White-7: hsla(259, 35%, 83%, 0.5);
	--I4C-Main-Opaque-White-8: hsla(259, 35%, 82%, 0.6);
	--I4C-Main-Opaque-White-9: hsla(259, 35%, 81%, 0.7);
	--I4C-Main-Opaque-White-10: hsla(259, 35%, 80%, 0.75);
	--I4C-Main-Opaque-White-11: hsla(259, 35%, 79%, 0.8);
	--I4C-Main-Opaque-White-12: hsla(259, 35%, 78%, 0.85);
	--I4C-Main-Opaque-White-13: hsla(259, 35%, 77%, 0.9);
	--I4C-Main-Opaque-White-14: hsla(259, 35%, 76%, 0.95);
	--I4C-Main-Opaque-Black-0: hsla(259, 12.5%, 10%, 0.05);
	--I4C-Main-Opaque-Black-1: hsla(259, 12.5%, 11%, 0.1);
	--I4C-Main-Opaque-Black-2: hsla(259, 12.5%, 12%, 0.15);
	--I4C-Main-Opaque-Black-3: hsla(259, 12.5%, 13%, 0.2);
	--I4C-Main-Opaque-Black-4: hsla(259, 12.5%, 14%, 0.25);
	--I4C-Main-Opaque-Black-5: hsla(259, 12.5%, 15%, 0.3);
	--I4C-Main-Opaque-Black-6: hsla(259, 12.5%, 16%, 0.4);
	--I4C-Main-Opaque-Black-7: hsla(259, 12.5%, 17%, 0.5);
	--I4C-Main-Opaque-Black-8: hsla(259, 12.5%, 18%, 0.6);
	--I4C-Main-Opaque-Black-9: hsla(259, 12.5%, 19%, 0.7);
	--I4C-Main-Opaque-Black-10: hsla(259, 12.5%, 20%, 0.75);
	--I4C-Main-Opaque-Black-11: hsla(259, 12.5%, 21%, 0.8);
	--I4C-Main-Opaque-Black-12: hsla(259, 12.5%, 22%, 0.85);
	--I4C-Main-Opaque-Black-13: hsla(259, 12.5%, 23%, 0.9);
	--I4C-Main-Opaque-Black-14: hsla(259, 12.5%, 24%, 0.95);
	--I4C-Main-Alias-PageBackground: var(--I4C-Main-Background-3);
	--I4C-Main-Alias-PageText: var(--I4C-Main-Text-6);
}
