:root {
	--I4C-Main-Background-0: #000000;
	--I4C-Main-Background-0_Text: #32e71e;
	--I4C-Main-Background-1: #050505;
	--I4C-Main-Background-1_Text: #32e71e;
	--I4C-Main-Background-2: #090909;
	--I4C-Main-Background-2_Text: #32e71e;
	--I4C-Main-Background-3: #0d0d0e;
	--I4C-Main-Background-3_Text: #32e71e;
	--I4C-Main-Background-4: #111113;
	--I4C-Main-Background-4_Text: #32e71e;
	--I4C-Main-Background-5: #151418;
	--I4C-Main-Background-5_Text: #32e71e;
	--I4C-Main-Background-6: #19181c;
	--I4C-Main-Background-6_Text: #32e71e;
	--I4C-Main-Background-7: #1d1c21;
	--I4C-Main-Background-7_Text: #32e71e;
	--I4C-Main-Background-8: #211f26;
	--I4C-Main-Background-8_Text: #32e71e;
	--I4C-Main-Background-9: #25232a;
	--I4C-Main-Background-9_Text: #32e71e;
	--I4C-Main-Background-10: #29272f;
	--I4C-Main-Background-10_Text: #32e71e;
	--I4C-Main-Background-11: #2d2a34;
	--I4C-Main-Background-11_Text: #32e71e;
	--I4C-Main-Background-12: #312e39;
	--I4C-Main-Background-12_Text: #32e71e;
	--I4C-Main-Background-13: #35313d;
	--I4C-Main-Background-13_Text: #32e71e;
	--I4C-Main-Background-14: #393542;
	--I4C-Main-Background-14_Text: #32e71e;
	--I4C-Main-Background-15: #3d3947;
	--I4C-Main-Background-15_Text: #32e71e;
	--I4C-Main-Background-16: #413d4b;
	--I4C-Main-Background-16_Text: #32e71e;
	--I4C-Main-Background-17: #454050;
	--I4C-Main-Background-17_Text: #32e71e;
	--I4C-Main-Background-18: #494455;
	--I4C-Main-Background-18_Text: #32e71e;
	--I4C-Main-Background-19: #4d485a;
	--I4C-Main-Background-19_Text: #32e71e;
	--I4C-Main-Background-20: #514b5e;
	--I4C-Main-Background-20_Text: #32e71e;
	--I4C-Main-Border-0: #1a1a1a;
	--I4C-Main-Border-1: #1d1d1e;
	--I4C-Main-Border-2: #212023;
	--I4C-Main-Border-3: #252428;
	--I4C-Main-Border-4: #29272c;
	--I4C-Main-Border-5: #2c2a31;
	--I4C-Main-Border-6: #302e36;
	--I4C-Main-Border-7: #34313b;
	--I4C-Main-Border-8: #38343f;
	--I4C-Main-Border-9: #3c3844;
	--I4C-Main-Border-10: #403b49;
	--I4C-Main-Border-11: #433f4d;
	--I4C-Main-Border-12: #474252;
	--I4C-Main-Border-13: #4b4657;
	--I4C-Main-Border-14: #4f4a5c;
	--I4C-Main-Border-15: #534d60;
	--I4C-Main-Border-16: #575165;
	--I4C-Main-Border-17: #5b556a;
	--I4C-Main-Border-18: #5f586e;
	--I4C-Main-Border-19: #635c73;
	--I4C-Main-Border-20: #676078;
	--I4C-Main-Accent-0: #18800d;
	--I4C-Main-Accent-0_Text: #32e71e;
	--I4C-Main-Accent-1: #1f9e11;
	--I4C-Main-Accent-1_Text: black;
	--I4C-Main-Accent-2: #26ba16;
	--I4C-Main-Accent-2_Text: black;
	--I4C-Main-Accent-3: #2ed11c;
	--I4C-Main-Accent-3_Text: black;
	--I4C-Main-Accent-4: #36e123;
	--I4C-Main-Accent-4_Text: black;
	--I4C-Main-Accent-5: #41ec2e;
	--I4C-Main-Accent-5_Text: black;
	--I4C-Main-Accent-6: #50f43d;
	--I4C-Main-Accent-6_Text: black;
	--I4C-Main-Accent-7: #64f854;
	--I4C-Main-Accent-7_Text: black;
	--I4C-Main-Accent-8: #7ffb72;
	--I4C-Main-Accent-8_Text: black;
	--I4C-Main-Accent-9: #a1fe96;
	--I4C-Main-Accent-9_Text: black;
	--I4C-Main-Accent-10: #c6ffbf;
	--I4C-Main-Accent-10_Text: black;
	--I4C-Main-Text-0: #095900;
	--I4C-Main-Text-1: #108b02;
	--I4C-Main-Text-2: #18b507;
	--I4C-Main-Text-3: #23d410;
	--I4C-Main-Text-4: #32e71e;
	--I4C-Main-Text-5: #45f231;
	--I4C-Main-Text-6: #5cf94a;
	--I4C-Main-Text-7: #75fc66;
	--I4C-Main-Text-8: #8cff80;
	--I4C-Main-Shadow-0: 0 1px 2px rgba(0, 0, 0, 0.85), 0 0 2px rgba(0, 0, 0, 0.85);
	--I4C-Main-Shadow-1: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
	--I4C-Main-Shadow-2: 0 6px 16px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.4);
	--I4C-Main-Shadow-3: 0 12px 32px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.4);
	--I4C-Main-Shadow-4: 0 32px 64px rgba(0, 0, 0, 0.6), 0 0 16px rgba(0, 0, 0, 0.4);
	--I4C-Main-TableRow-0: #0b0a0d;
	--I4C-Main-TableRow-1: #141318;
	--I4C-Main-TableRow-2: #1b191f;
	--I4C-Main-TableRow-3: #1d1b21;
	--I4C-Main-TableRow_Green-0: #001a00;
	--I4C-Main-TableRow_Green-1: #002000;
	--I4C-Main-TableRow_Green-2: #002500;
	--I4C-Main-TableRow_Green-3: #002600;
	--I4C-Main-TableRow_Red-0: #210000;
	--I4C-Main-TableRow_Red-1: #280000;
	--I4C-Main-TableRow_Red-2: #2c0000;
	--I4C-Main-TableRow_Red-3: #2e0000;
	--I4C-Main-Opaque_White-0: hsla(259, 25%, 90%, 0.05);
	--I4C-Main-Opaque_White-1: hsla(259, 25%, 89%, 0.1);
	--I4C-Main-Opaque_White-2: hsla(259, 25%, 88%, 0.15);
	--I4C-Main-Opaque_White-3: hsla(259, 25%, 87%, 0.2);
	--I4C-Main-Opaque_White-4: hsla(259, 25%, 86%, 0.25);
	--I4C-Main-Opaque_White-5: hsla(259, 25%, 85%, 0.3);
	--I4C-Main-Opaque_White-6: hsla(259, 25%, 84%, 0.4);
	--I4C-Main-Opaque_White-7: hsla(259, 25%, 83%, 0.5);
	--I4C-Main-Opaque_White-8: hsla(259, 25%, 82%, 0.6);
	--I4C-Main-Opaque_White-9: hsla(259, 25%, 81%, 0.7);
	--I4C-Main-Opaque_White-10: hsla(259, 25%, 80%, 0.75);
	--I4C-Main-Opaque_White-11: hsla(259, 25%, 79%, 0.8);
	--I4C-Main-Opaque_White-12: hsla(259, 25%, 78%, 0.85);
	--I4C-Main-Opaque_White-13: hsla(259, 25%, 77%, 0.9);
	--I4C-Main-Opaque_White-14: hsla(259, 25%, 76%, 0.95);
	--I4C-Main-Opaque_Black-0: hsla(259, 12.5%, 10%, 0.05);
	--I4C-Main-Opaque_Black-1: hsla(259, 12.5%, 11%, 0.1);
	--I4C-Main-Opaque_Black-2: hsla(259, 12.5%, 12%, 0.15);
	--I4C-Main-Opaque_Black-3: hsla(259, 12.5%, 13%, 0.2);
	--I4C-Main-Opaque_Black-4: hsla(259, 12.5%, 14%, 0.25);
	--I4C-Main-Opaque_Black-5: hsla(259, 12.5%, 15%, 0.3);
	--I4C-Main-Opaque_Black-6: hsla(259, 12.5%, 16%, 0.4);
	--I4C-Main-Opaque_Black-7: hsla(259, 12.5%, 17%, 0.5);
	--I4C-Main-Opaque_Black-8: hsla(259, 12.5%, 18%, 0.6);
	--I4C-Main-Opaque_Black-9: hsla(259, 12.5%, 19%, 0.7);
	--I4C-Main-Opaque_Black-10: hsla(259, 12.5%, 20%, 0.75);
	--I4C-Main-Opaque_Black-11: hsla(259, 12.5%, 21%, 0.8);
	--I4C-Main-Opaque_Black-12: hsla(259, 12.5%, 22%, 0.85);
	--I4C-Main-Opaque_Black-13: hsla(259, 12.5%, 23%, 0.9);
	--I4C-Main-Opaque_Black-14: hsla(259, 12.5%, 24%, 0.95);
	--I4C-Main-Alias-PageBackground: var(--I4C-Default-Background-3);
	--I4C-Main-Alias-PageText: var(--I4C-Default-Text-6);
}
