:root {
	--I4C-Main-Background-0: #ffffff;
	--I4C-Main-Background-0_Text: black;
	--I4C-Main-Background-1: #fef6fb;
	--I4C-Main-Background-1_Text: black;
	--I4C-Main-Background-2: #feeff7;
	--I4C-Main-Background-2_Text: black;
	--I4C-Main-Background-3: #fde9f4;
	--I4C-Main-Background-3_Text: black;
	--I4C-Main-Background-4: #fce4f1;
	--I4C-Main-Background-4_Text: black;
	--I4C-Main-Background-5: #fae0ee;
	--I4C-Main-Background-5_Text: black;
	--I4C-Main-Background-6: #f8dceb;
	--I4C-Main-Background-6_Text: black;
	--I4C-Main-Background-7: #f6d8e8;
	--I4C-Main-Background-7_Text: black;
	--I4C-Main-Background-8: #f4d4e5;
	--I4C-Main-Background-8_Text: black;
	--I4C-Main-Background-9: #f1d1e2;
	--I4C-Main-Background-9_Text: black;
	--I4C-Main-Background-10: #eecdde;
	--I4C-Main-Background-10_Text: black;
	--I4C-Main-Background-11: #eac9da;
	--I4C-Main-Background-11_Text: black;
	--I4C-Main-Background-12: #e5c5d6;
	--I4C-Main-Background-12_Text: black;
	--I4C-Main-Background-13: #e1c0d1;
	--I4C-Main-Background-13_Text: black;
	--I4C-Main-Background-14: #dbbbcc;
	--I4C-Main-Background-14_Text: black;
	--I4C-Main-Background-15: #d5b6c6;
	--I4C-Main-Background-15_Text: black;
	--I4C-Main-Background-16: #cfb0c0;
	--I4C-Main-Background-16_Text: black;
	--I4C-Main-Background-17: #c8aaba;
	--I4C-Main-Background-17_Text: black;
	--I4C-Main-Background-18: #c1a4b3;
	--I4C-Main-Background-18_Text: black;
	--I4C-Main-Background-19: #ba9ead;
	--I4C-Main-Background-19_Text: black;
	--I4C-Main-Background-20: #b398a6;
	--I4C-Main-Background-20_Text: black;
	--I4C-Main-Border-0: #e6dfe2;
	--I4C-Main-Border-1: #e5d8df;
	--I4C-Main-Border-2: #e4d3dc;
	--I4C-Main-Border-3: #e3ced9;
	--I4C-Main-Border-4: #e2cad7;
	--I4C-Main-Border-5: #e0c6d4;
	--I4C-Main-Border-6: #dec3d1;
	--I4C-Main-Border-7: #dbbfce;
	--I4C-Main-Border-8: #d8bccb;
	--I4C-Main-Border-9: #d5b8c7;
	--I4C-Main-Border-10: #d1b4c3;
	--I4C-Main-Border-11: #cdb0bf;
	--I4C-Main-Border-12: #c8abba;
	--I4C-Main-Border-13: #c2a6b5;
	--I4C-Main-Border-14: #bca0af;
	--I4C-Main-Border-15: #b59aa8;
	--I4C-Main-Border-16: #ad93a1;
	--I4C-Main-Border-17: #a58d9a;
	--I4C-Main-Border-18: #9d8592;
	--I4C-Main-Border-19: #957e8a;
	--I4C-Main-Border-20: #8c7782;
	--I4C-Main-Accent-0: #800d4a;
	--I4C-Main-Accent-0_Text: white;
	--I4C-Main-Accent-1: #9e115c;
	--I4C-Main-Accent-1_Text: white;
	--I4C-Main-Accent-2: #ba166d;
	--I4C-Main-Accent-2_Text: white;
	--I4C-Main-Accent-3: #d11c7c;
	--I4C-Main-Accent-3_Text: white;
	--I4C-Main-Accent-4: #e12389;
	--I4C-Main-Accent-4_Text: black;
	--I4C-Main-Accent-5: #ec2e94;
	--I4C-Main-Accent-5_Text: black;
	--I4C-Main-Accent-6: #f43d9f;
	--I4C-Main-Accent-6_Text: black;
	--I4C-Main-Accent-7: #f854ab;
	--I4C-Main-Accent-7_Text: black;
	--I4C-Main-Accent-8: #fb72bb;
	--I4C-Main-Accent-8_Text: black;
	--I4C-Main-Accent-9: #fe96cd;
	--I4C-Main-Accent-9_Text: black;
	--I4C-Main-Accent-10: #ffbfe1;
	--I4C-Main-Accent-10_Text: black;
	--I4C-Main-Text-0: #b398a6;
	--I4C-Main-Text-1: #af7292;
	--I4C-Main-Text-2: #a74e7d;
	--I4C-Main-Text-3: #9b3069;
	--I4C-Main-Text-4: #8a1b56;
	--I4C-Main-Text-5: #710d42;
	--I4C-Main-Text-6: #51042d;
	--I4C-Main-Text-7: #2a0117;
	--I4C-Main-Text-8: #000000;
	--I4C-Main-Shadow-0: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.1);
	--I4C-Main-Shadow-1: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
	--I4C-Main-Shadow-2: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
	--I4C-Main-Shadow-3: 0 12px 32px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.05);
	--I4C-Main-Shadow-4: 0 32px 64px rgba(0, 0, 0, 0.2), 0 0 16px rgba(0, 0, 0, 0.05);
	--I4C-Main-TableRow-0: #fff7fb;
	--I4C-Main-TableRow-1: #f7eff3;
	--I4C-Main-TableRow-2: #f2eaee;
	--I4C-Main-TableRow-3: #f0e9ec;
	--I4C-Main-TableRow-Green-0: #bfe0bf;
	--I4C-Main-TableRow-Green-1: #c8ebc8;
	--I4C-Main-TableRow-Green-2: #cef2ce;
	--I4C-Main-TableRow-Green-3: #d0f5d0;
	--I4C-Main-TableRow-Red-0: #e0bfbf;
	--I4C-Main-TableRow-Red-1: #ebc8c8;
	--I4C-Main-TableRow-Red-2: #f2cece;
	--I4C-Main-TableRow-Red-3: #f5d0d0;
	--I4C-Main-Opaque-White-0: hsla(328, 25%, 90%, 0.05);
	--I4C-Main-Opaque-White-1: hsla(328, 24%, 89%, 0.1);
	--I4C-Main-Opaque-White-2: hsla(328, 23%, 88%, 0.15);
	--I4C-Main-Opaque-White-3: hsla(328, 22%, 87%, 0.2);
	--I4C-Main-Opaque-White-4: hsla(328, 21%, 86%, 0.25);
	--I4C-Main-Opaque-White-5: hsla(328, 20%, 85%, 0.3);
	--I4C-Main-Opaque-White-6: hsla(328, 19%, 84%, 0.4);
	--I4C-Main-Opaque-White-7: hsla(328, 18%, 83%, 0.5);
	--I4C-Main-Opaque-White-8: hsla(328, 17%, 82%, 0.6);
	--I4C-Main-Opaque-White-9: hsla(328, 16%, 81%, 0.7);
	--I4C-Main-Opaque-White-10: hsla(328, 15%, 80%, 0.75);
	--I4C-Main-Opaque-White-11: hsla(328, 14%, 79%, 0.8);
	--I4C-Main-Opaque-White-12: hsla(328, 13%, 78%, 0.85);
	--I4C-Main-Opaque-White-13: hsla(328, 12%, 77%, 0.9);
	--I4C-Main-Opaque-White-14: hsla(328, 11%, 76%, 0.95);
	--I4C-Main-Opaque-Black-0: hsla(328, 25%, 10%, 0.05);
	--I4C-Main-Opaque-Black-1: hsla(328, 25%, 11%, 0.1);
	--I4C-Main-Opaque-Black-2: hsla(328, 25%, 12%, 0.15);
	--I4C-Main-Opaque-Black-3: hsla(328, 25%, 13%, 0.2);
	--I4C-Main-Opaque-Black-4: hsla(328, 25%, 14%, 0.25);
	--I4C-Main-Opaque-Black-5: hsla(328, 25%, 15%, 0.3);
	--I4C-Main-Opaque-Black-6: hsla(328, 25%, 16%, 0.4);
	--I4C-Main-Opaque-Black-7: hsla(328, 25%, 17%, 0.5);
	--I4C-Main-Opaque-Black-8: hsla(328, 25%, 18%, 0.6);
	--I4C-Main-Opaque-Black-9: hsla(328, 25%, 19%, 0.7);
	--I4C-Main-Opaque-Black-10: hsla(328, 25%, 20%, 0.75);
	--I4C-Main-Opaque-Black-11: hsla(328, 25%, 21%, 0.8);
	--I4C-Main-Opaque-Black-12: hsla(328, 25%, 22%, 0.85);
	--I4C-Main-Opaque-Black-13: hsla(328, 25%, 23%, 0.9);
	--I4C-Main-Opaque-Black-14: hsla(328, 25%, 24%, 0.95);
	--I4C-Main-Alias-PageBackground: var(--I4C-Main-Background-2);
	--I4C-Main-Alias-PageText: var(--I4C-Main-Text-6);
}
