@import '../Inputs/Inputs.scss';

div.I4E-Construct-Combobox {
    display: none;
    font-size: 1rem;

    &[data-visible] {
        display: inline-block;
    }

    &[data-disabled] {
        * {
            cursor: not-allowed !important;
        }
    }

    &[data-open] {
        div.I4E-Construct-Combobox-Head {
            background-color: var(--I4E_InputBase_Background_Focus);
            border-color: var(--I4E_InputBase_Border_Focus);
            box-shadow: var(--I4C_Default_Shadow_0);
            transition: background-color 75ms ease-in, border 75ms ease-in;
        }
    }

    div.I4E-Construct-Combobox-Head {
        @extend %_InputBase;

        align-items: center;
        cursor: pointer;
        display: inline-flex;
        height: 28px;
        justify-content: space-between;
        min-width: 250px;
        padding: 4px 6px;

        div.I4E-Construct-Combobox-NoSelection {
            font-style: italic;
            opacity: 0.5;
            user-select: none;
        }

        div.I4E-Construct-Combobox-Selection {
            align-items: center;
            display: flex;
        }

        div.I4E-Construct-Combobox-Selection ~ div.I4E-Construct-Combobox-ClearButtonWrapper {
            display: inline-block;
        }

        div.I4E-Construct-Combobox-ClearButtonWrapper {
            background-color: transparent;
            color: var(--I4C_Default_Text_6);
            cursor: pointer;
            display: none;
            height: calc(1em * (12 / 15));
            margin: 0 0 0 calc(1em * (6 / 15));
            outline: none;
            padding: 0;
            position: relative;
            width: calc(1em * (12 / 15));

            span.I4R-BootstrapIcon {
            }

            svg {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            &:hover {
                color: var(--I4C_Default_Accent_7);
            }

            &:focus {
                color: var(--I4C_Default_Accent_6);
            }
        }
    }

    div.I4E-Construct-Combobox-Dropdown {
        background-color: var(--I4C_Default_Background_6);
        border-radius: calc(1em * (3 / 15));
        box-shadow: var(--I4C_Default_Shadow_0), var(--I4C_Default_Shadow_1), var(--I4C_Default_Shadow_2);
        box-sizing: border-box;
        display: none;
        margin: 17px;
        padding: 10px 9px;
        position: absolute;
        z-index: 10;

        &[data-open] {
            display: block;
        }

        div.I4E-Input-Text {
            margin-bottom: 3px;
            width: 0;
        }

        div.I4E-Construct-Combobox-Scroller {
            .mb-track-y {
                right: 0 !important;
            }

            div.I4E-Construct-Combobox-Options {
                margin-right: 4px;
                max-height: 250px;

                // Notice
                > p {
                    color: var(--I4C_Default_Text_3);
                    font-style: italic;
                    font-weight: 500;
                    margin: 3px 1px 0 0;
                    padding: 0 3px;

                    &.I4E-Construct-Combobox-Options-Null {
                    }

                    &.I4E-Construct-Combobox-Options-None {
                    }

                    &.I4E-Construct-Options-LimitMessage, &.I4E-Construct-Options-NoResults {
                        border-top: 1px solid var(--I4C_Default_Border_12);

                        &:not([data-shown]) {
                            display: none;
                        }
                    }
                }

                // Option
                > div {
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 0.4em;
                    cursor: pointer;
                    display: flex;
                    margin: 0 1px 1px 1px;
                    padding: 4px 6px;
                    transition: background-color 75ms ease-in, border 75ms ease-in;

                    &:hover {
                        transition: none;
                    }

                    &:focus {
                        border: 1px solid var(--I4E_InputBase_Border_Focus);
                        outline: none;
                    }

                    &[data-selected] {
                        background-color: var(--I4C_Default_Accent_6);
                        color: var(--I4C_Default_Accent_6_Text);

                        &:hover {
                            background-color: var(--I4C_Default_Accent_5);
                            color: var(--I4C_Default_Accent_6_Text);
                        }
                    }
                }
            }
        }
    }

    &--Filterable {
        div.I4E-Construct-Combobox-Dropdown {
            div.I4E-Construct-Combobox-Scroller {
                div.I4E-Construct-Combobox-Options {
                    > div {
                        &:not([data-shown]) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-Combobox {
            div.I4E-Construct-Combobox-Dropdown {
                background-color: var(--I4C_Default_Background_8);
                border: 1px solid var(--I4E_InputBase_Border_Normal);

                div.I4E-Construct-Combobox-Scroller {
                    .mb-bar {
                        background-color: var(--I4C_Default_Background_16);
                    }

                    div.I4E-Construct-Combobox-Options > div {
                        &:not([data-selected]):hover {
                            background-color: var(--I4C_Default_Background_16);
                        }
                    }
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-Combobox {
            div.I4E-Construct-Combobox-Dropdown {
                background-color: var(--I4C_Default_Background_0);
                border: 1px solid transparent;

                div.I4E-Construct-Combobox-Scroller {
                    .mb-bar {
                        background-color: var(--I4C_Default_Background_8);
                    }

                    div.I4E-Construct-Combobox-Options > div {
                        &:not([data-selected]):hover {
                            background-color: var(--I4C_Default_Background_8);
                        }
                    }
                }
            }
        }
    }
}