.I4E-Construct-FileUploader {
    flex-direction: column;
    margin: 5px;
    max-width: 100%;
    position: relative;

    &--Block {
        border-radius: 5px;
        display: block;
    }

    &--Inline {
        border-radius: 15px;
        display: inline-block;
        vertical-align: top;
    }

    &--Single {

    }

    &--Multiple {
        .I4E-Construct-FileUploader-Region {
            overflow-x: auto;
        }
    }

    > input {
        bottom: 16px;
        cursor: pointer;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    div.I4E-Construct-FileUploader-DropIndicator {
        border-radius: 10px;
        border-style: dashed;
        border-width: 5px;
        bottom: 12px;
        display: none;
        left: 12px;
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: 1;
    }

    .I4E-Construct-FileUploader-Region {
        display: flex;
        height: calc(96px + 38px + 24px);
        padding: 0 16px;
        position: relative;

        div.I4E-Construct-FileUploader-File {
            flex-shrink: 0;
            margin: 5px;
            position: relative;
            z-index: 3;

            &:hover {
                > span {
                    opacity: 1;
                    transition: opacity 150ms;
                }
            }

            > div {
                align-items: center;
                display: flex;
                height: 96px;
                justify-content: center;
                width: 96px;

                > img {
                    max-height: 100%;
                    max-width: 100%;

                    &:not([Fallback]) {
                        border: 2px solid var(--I4C_Default_Border_3);
                    }

                    &[Fallback] {
                        color: var(--I4C_Default_Text_6);
                        height: 64px;
                        width: 64px;
                    }
                }
            }

            > p {
                -webkit-box-orient: vertical;
                color: unset;
                display: -webkit-box;
                font-weight: normal;
                height: 38px;
                -webkit-line-clamp: 2;
                margin: 0;
                overflow: hidden;
                text-align: center;
                width: 96px;

                //text-overflow: ellipsis;
                //white-space: nowrap;
            }

            > span {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: opacity 150ms;
            }
        }

        div.I4E-Construct-FileUploader-EmptyContent {
            align-self: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;

            div.I4E-Construct-FileUploader-PlaceholderContent, div.I4E-Construct-FileUploader-SizeLimitContent {
                color: var(--I4C_Default_Text_3);
                font-style: italic;
                font-weight: 600;
            }

            div.I4E-Construct-FileUploader-SizeLimitContent {
                margin-top: 15px;
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-FileUploader {
            background-color: var(--I4C_Default_Background_4);
            border: 1px solid var(--I4C_Default_Border_5);
            box-shadow: inset var(--I4C_Default_Shadow_0);

            div.I4E-Construct-FileUploader-Region {
                div.I4E-Construct-FileUploader-File img {
                    &:not([Fallback]) {
                        box-shadow: var(--I4C_Default_Shadow_1);
                    }
                }
            }

            div.I4E-Construct-FileUploader-DropIndicator {
                background-color: var(--I4C_Default_Background_7);
                border-color: var(--I4C_Default_Border_7);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-FileUploader {
            background-color: var(--I4C_Default_Background_2);
            border: 1px solid var(--I4C_Default_Border_5);
            box-shadow: inset var(--I4C_Default_Shadow_0);

            div.I4E-Construct-FileUploader-Region {
                div.I4E-Construct-FileUploader-File img {
                }
            }

            div.I4E-Construct-FileUploader-DropIndicator {
                background-color: white;
                border-color: var(--I4C_Default_Border_10);
            }
        }
    }
}