
div.I4E-Construct-Header {
    align-items: center;
    box-shadow: var(--I4C_Default_Shadow_0);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 15px;
    width: 100%;
    z-index: 100;

    &--Primary {
        min-height: 50px;
        position: sticky;
        top: 0;
    }

    &--Secondary {
        min-height: 35px;
    }
    
    &--Clickable {
        cursor: pointer;
    }

    > span.I4E-Construct-Header-Content {
        display: contents;

        > .I4E-Bit-PageLink--Title {
            margin-right: 15px;
        }
    }

    // Descendent overrides

    &--Primary {
        a.I4E-Bit-PageLink {
            &:not(.I4E-Bit-PageLink--Title) {
                font-size: 1.2rem;
                font-weight: 500;
            }

            &.I4E-Bit-PageLink--Title {
                font-size: 1.35rem;
                font-weight: 600;
            }

            //

            span.I4E-Bit-PageLink-Content {
                min-height: calc(50px - 8px);
            }
        }

        div.I4E-Bit-VerticalLine {
            height: 30px;
        }
    }

    &--Secondary {
        a.I4E-Bit-PageLink {
            span.I4E-Bit-PageLink-Content {
                min-height: calc(35px - 8px);
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-Header {
            &--Primary {
                background-color: var(--I4C_Default_Background_6);
            }

            &--Secondary {
                background-color: var(--I4C_Default_Background_7);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-Header {
            &--Primary {
                background-color: var(--I4C_Default_Background_0);
            }

            &--Secondary {
                background-color: var(--I4C_Default_Background_4);
            }
        }
    }
}