@import '../Overrides/TUIEditor.scss';

div.I4E-Construct-MultiSelector {
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    padding: 3px;
    width: 100%;

    &:not([data-disabled]) {
        div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
            cursor: pointer;
        }
    }

    &[data-disabled] {
        div.I4E-Construct-MultiSelector-Selection {
            opacity: 0.6;
        }

        div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
            cursor: not-allowed;
        }
    }

    div.I4E-Construct-MultiSelector-Selections {
        &:not(:empty) {
            margin-top: 4px;
        }

        div.I4E-Construct-MultiSelector-Selection {
            align-items: center;
            border-radius: 15px;
            display: inline-flex;
            margin: 1px;
            padding: 1px 2px 1px 9px;

            div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
                background-color: transparent;
                height: calc(1em * (12 / var(--I4E-Base-Scale)));
                margin: 0 0 0 calc(1em * (6 / var(--I4E-Base-Scale)));
                outline: none;
                padding: 0 3px 0 0;
                position: relative;
                width: calc(1em * (12 / var(--I4E-Base-Scale)));

                svg {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-MultiSelector {
            background-color: var(--I4C-Main-Background-4);
            border: 1px solid var(--I4C-Main-Border-11);
            box-shadow: var(--I4C-Main-Shadow-1);

            div.I4E-Construct-MultiSelector-Selections {
                div.I4E-Construct-MultiSelector-Selection {
                    background-color: var(--I4C-Main-Background-7);
                    border: 1px solid var(--I4C-Main-Border-7);
                    box-shadow: var(--I4C-Main-Shadow-1);
                }
            }

            &:not([data-disabled]) div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
                color: var(--I4C-Main-Opaque-White-4);

                &:hover {
                    color: var(--I4C-Main-Opaque-White-7);
                }

                &:active {
                    color: var(--I4C-Main-Accent-7);
                }
            }

            &[data-disabled] div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
                color: var(--I4C-Main-Opaque-White-2);

                &:hover, &:active {
                    color: var(--I4C-Main-Opaque-White-2);
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-MultiSelector {
            background-color: var(--I4C-Main-Background-2);
            border: 1px solid var(--I4C-Main-Border-5);

            div.I4E-Construct-MultiSelector-Selections {
                div.I4E-Construct-MultiSelector-Selection {
                    background-color: white;
                    border: 1px solid var(--I4C-Main-Border-10);
                }
            }

            &:not([data-disabled]) div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
                color: var(--I4C-Main-Opaque-Black-4);

                &:hover {
                    color: var(--I4C-Main-Opaque-Black-7);
                }

                &:active {
                    color: var(--I4C-Main-Accent-7);
                }
            }

            &[data-disabled] div.I4E-Construct-MultiSelector-DeselectButtonWrapper {
                color: var(--I4C-Main-Opaque-Black-2);

                &:hover, &:active {
                    color: var(--I4C-Main-Opaque-Black-2);
                }
            }
        }
    }
}