div.I4E-Construct-PagedTable-PagedTableButtons {
    display: flex;
    justify-content: flex-end;

    button {
        border: none;
        border-radius: calc(1em * (4 / var(--I4E-Base-Scale)));
        font-size: 1rem;
        font-weight: 600;
        height: 2em;
        margin: 2px;
        padding: 0 calc(1em * (10 / var(--I4E-Base-Scale)));
        text-decoration: none;
        transition: background-color 75ms ease-in, border 75ms ease-in;
        user-select: none;

        &.I4E-Construct-PagedTable-Ellipses {
            padding: 0 calc(1em * (7 / var(--I4E-Base-Scale)));
        }

        &:hover {
            transition: none;
        }

        &:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
            cursor: pointer;

            &:hover {
                background-color: var(--I4C-Main-Opaque-White-3);
            }

            &:active {
                background-color: var(--I4C-Main-Opaque-White-2);
            }
        }

        &:disabled, &.I4E-Construct-PagedTable-Ellipses {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

div.I4E-Construct-PagedTable-PageInfo {
    user-select: none;
}

tr.I4E-Construct-PagedTable-NoValuesMessage {
    td {
        color: var(--I4C-Main-Text-4);
        font-style: italic;
        font-weight: bold;
        padding: 7px;
        text-align: center;
        user-select: none;
    }
}

button.I4E-Construct-PagedTable-SortIndicator {
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 24px;
}

div.I4E-Construct-PagedTable-FilterInput {
    div.I4E-Input-Text {
        width: 100%;

        input {
            width: 100%;
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-PagedTable-PagedTableButtons {
            button {
                background-color: var(--I4C-Main-Opaque-White-2);
                box-shadow: var(--I4C-Main-Shadow-0);
                color: var(--I4C-Main-Text-6);

                &:hover:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                    background-color: var(--I4C-Main-Opaque-White-3);
                    color: var(--I4C-Main-Text-6);
                }

                &:active:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                    background-color: var(--I4C-Main-Opaque-White-2);
                    color: var(--I4C-Main-Text-6);
                }
            }
        }

        button.I4E-Construct-PagedTable-SortIndicator {
            &.I4E-Construct-PagedTable-SortIndicator--Inactive {
                color: var(--I4C-Main-Opaque-White-5);

                &:hover {
                    color: var(--I4C-Main-Opaque-White-7);
                }

                &:active {
                    color: var(--I4C-Main-Opaque-White-5);
                }
            }

            &.I4E-Construct-PagedTable-SortIndicator--Active {
                color: var(--I4C-Main-Accent-6);

                &:hover {
                    color: var(--I4C-Main-Accent-7);
                }

                &:active {
                    color: var(--I4C-Main-Accent-6);
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-PagedTable-PagedTableButtons {
            button {
                background-color: var(--I4C-Main-Opaque-Black-2);
                color: var(--I4C-Main-Text-6);

                &:hover:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                    background-color: var(--I4C-Main-Opaque-Black-3);
                    color: var(--I4C-Main-Text-6);
                }

                &:active:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                    background-color: var(--I4C-Main-Opaque-Black-2);
                    color: var(--I4C-Main-Text-6);
                }
            }
        }

        button.I4E-Construct-PagedTable-SortIndicator {
            &.I4E-Construct-PagedTable-SortIndicator--Inactive {
                color: var(--I4C-Main-Opaque-Black-7);

                &:hover {
                    color: var(--I4C-Main-Opaque-Black-10);
                }

                &:active {
                    color: var(--I4C-Main-Opaque-Black-7);
                }
            }

            &.I4E-Construct-PagedTable-SortIndicator--Active {
                color: var(--I4C-Main-Accent-6);

                &:hover {
                    color: var(--I4C-Main-Accent-7);
                }

                &:active {
                    color: var(--I4C-Main-Accent-6);
                }
            }
        }
    }
}