div.I4E-Construct-PagedTable-PagedTableButtons {
    button {
        border: none;
        border-radius: calc(1em * (4 / 15));
        font-size: 1rem;
        font-weight: 600;
        height: 2em;
        margin: 0 2px;
        padding: 0 calc(1em * (10 / 15));
        text-decoration: none;
        transition: background-color 75ms ease-in, border 75ms ease-in;
        user-select: none;

        &.I4E-Construct-PagedTable-Ellipses {
            padding: 0 calc(1em * (7 / 15));
        }

        &:hover {
            transition: none;
        }

        &:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
            cursor: pointer;

            &:hover {
                background-color: var(--I4C_Default_Opaque_White_3);
            }

            &:active {
                background-color: var(--I4C_Default_Opaque_White_2);
            }
        }

        &:disabled, &.I4E-Construct-PagedTable-Ellipses {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-PagedTable-PagedTableButtons button {
            background-color: var(--I4C_Default_Opaque_White_2);
            box-shadow: var(--I4C_Default_Shadow_0);
            color: var(--I4C_Default_Text_6);

            &:hover:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                background-color: var(--I4C_Default_Opaque_White_3);
                color: var(--I4C_Default_Text_6);
            }

            &:active:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                background-color: var(--I4C_Default_Opaque_White_2);
                color: var(--I4C_Default_Text_6);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-PagedTable-PagedTableButtons button {
            background-color: var(--I4C_Default_Opaque_Black_2);
            color: var(--I4C_Default_Text_6);
            
            &:hover:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                background-color: var(--I4C_Default_Opaque_Black_3);
                color: var(--I4C_Default_Text_6);
            }

            &:active:not(:disabled):not(.I4E-Construct-PagedTable-Ellipses):not(.I4E-Bit-Button) {
                background-color: var(--I4C_Default_Opaque_Black_2);
                color: var(--I4C_Default_Text_6);
            }
        }
    }
}