@import '../Inputs/Inputs.scss';

$DropdownPadding: 3.5px;
$ScrollbarSpace: 7px;

div.I4E-Construct-Selector {
    display: none;
    font-size: 1rem;
    width: 100%;

    &[data-visible] {
        display: inline-block;
    }

    &[data-disabled] {
        * {
            cursor: not-allowed !important;
        }
    }

    &[data-open] {
        div.I4E-Construct-Selector-Head {
            background-color: var(--I4E-InputBase-Background-Focus);
            border-color: var(--I4E-InputBase-Border-Focus);
            box-shadow: var(--I4C-Main-Shadow-0);
            transition: background-color 75ms ease-in, border 75ms ease-in;
        }
    }

    div.I4E-Construct-Selector-Head {
        @extend %_InputBase;

        align-items: center;
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        min-height: calc(28 * (1em / var(--I4E-Base-Scale)));
        min-width: 250px;
        padding: 0 0 0 6px;
        width: 100%;

        div.I4E-Construct-Selector-NoSelection {
            font-style: italic;
            opacity: 0.5;
            user-select: none;
        }

        div.I4E-Construct-Selector-Selection {
            align-items: center;
            display: flex;
            padding: calc(1em * (4 / var(--I4E-Base-Scale))) 0;
        }

        div.I4E-Construct-Selector-Selection ~ div.I4E-Construct-Selector-ClearButtonWrapper {
            display: inline-block;
        }

        div.I4E-Construct-Selector-ClearButtonWrapper {
            background-color: transparent;
            color: var(--I4C-Main-Text-4);
            cursor: pointer;
            display: none;
            flex-shrink: 0;
            height: calc(12 * (1em / var(--I4E-Base-Scale)));
            margin: 0 calc(6 * (1em / var(--I4E-Base-Scale)));
            outline: none;
            padding: 0;
            position: relative;
            width: calc(12 * (1em / var(--I4E-Base-Scale)));

            span.I4R-BootstrapIcon {
            }

            svg {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            &:hover {
                color: var(--I4C-Main-Accent-7);
            }

            &:focus {
                color: var(--I4C-Main-Accent-6);
            }
        }
    }

    div.I4E-Construct-Selector-Dropdown {
        background-color: var(--I4C-Main-Background-6);
        border-radius: calc(3 * (1em / var(--I4E-Base-Scale)));
        box-sizing: border-box;
        display: none;
        padding: $DropdownPadding;
        position: absolute;
        z-index: 115;

        &[data-open] {
            display: block;
        }

        div.I4E-Input-Text {
            margin: $DropdownPadding;

            input {
                width: 100%;
            }
        }

        div.I4E-Construct-Selector-Scroller {
            padding: $DropdownPadding;

            div.I4E-Construct-Selector-Options {
                border-radius: 4px;
                margin-right: 1px;
                max-height: 250px;

                width: calc(100% - #{$ScrollbarSpace});

                // Notice
                > p {
                    color: var(--I4C-Main-Text-3);
                    font-style: italic;
                    font-weight: 500;
                    margin: 0;

                    &.I4E-Construct-Selector-Options-Null {
                    }

                    &.I4E-Construct-Selector-Options-None {
                    }

                    &.I4E-Construct-Options-LimitMessage, &.I4E-Construct-Options-NoResults {
                        padding-top: 7px;
                        text-align: center;

                        &:not([data-shown]) {
                            display: none;
                        }
                    }

                    &.I4E-Construct-Options-LimitMessage {
                        border-top: 1px solid var(--I4C-Main-Border-12);
                        margin-top: 3px;
                    }
                }

                // Option
                > div {
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 0.4em;
                    cursor: pointer;
                    display: flex;
                    margin: 1px 0;
                    padding: 3px 4px;
                    transition: background-color 75ms ease-in, border 75ms ease-in;

                    &:hover {
                        transition: none;
                    }

                    &:focus {
                        border: 1px solid var(--I4E-InputBase-Border-Focus);
                        outline: none;
                    }

                    &[data-selected] {
                        background-color: var(--I4C-Main-Accent-6);
                        color: var(--I4C-Main-Accent-6-Text);

                        &:hover {
                            background-color: var(--I4C-Main-Accent-5);
                            color: var(--I4C-Main-Accent-6-Text);
                        }
                    }

                    &[data-disabled] {
                        cursor: not-allowed;
                        opacity: 0.5;
                    }

                    &[data-placeholder] {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &--Filterable {
        div.I4E-Construct-Selector-Dropdown {
            div.I4E-Construct-Selector-Scroller {
                div.I4E-Construct-Selector-Options {
                    > div {
                        &:not([data-shown]) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Construct-Selector {
            div.I4E-Construct-Selector-Dropdown {
                background-color: var(--I4C-Main-Background-8);
                border: 1px solid var(--I4C-Main-Border-11);
                box-shadow: var(--I4C-Main-Shadow-0), var(--I4C-Main-Shadow-1), var(--I4C-Main-Shadow-2);

                div.I4E-Input-Text input {
                    &:not(:focus) {
                        background-color: var(--I4C-Main-Background-6);
                    }

                    &:not(:focus):hover {
                        background-color: var(--I4C-Main-Background-4);
                    }
                }

                div.I4E-Construct-Selector-Scroller {
                    .mb-bar {
                        background-color: var(--I4C-Main-Background-16);
                    }

                    div.I4E-Construct-Selector-Options > div {
                        &:not([data-selected]):not([data-disabled]):not([data-placeholder]):hover {
                            background-color: var(--I4C-Main-Background-16);
                        }

                        &[data-disabled] {
                            background-color: rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Construct-Selector {
            div.I4E-Construct-Selector-Dropdown {
                background-color: var(--I4C-Main-Background-0);
                border: 1px solid var(--I4C-Main-Border-11);
                box-shadow: var(--I4C-Main-Shadow-1), var(--I4C-Main-Shadow-2);

                div.I4E-Input-Text input {
                    &:not(:focus) {
                        background-color: var(--I4C-Main-Background-6);
                    }

                    &:not(:focus):hover {
                        background-color: var(--I4C-Main-Background-4);
                    }
                }

                div.I4E-Construct-Selector-Scroller {
                    .mb-bar {
                        background-color: var(--I4C-Main-Background-8);
                    }

                    div.I4E-Construct-Selector-Options > div {
                        &:not([data-selected]):not([data-disabled]):not([data-placeholder]):hover {
                            background-color: var(--I4C-Main-Background-8);
                        }

                        &[data-disabled] {
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }
        }
    }
}