div.I4E-Construct-Header {
  align-items: center;
  background-color: var(--I4C_Default_Background_6);
  box-shadow: var(--I4C_Default_Shadow_0);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 15px;
  min-height: 50px;
  width: 100%;
  position: sticky;
  top: 0; }
  div.I4E-Construct-Header > span.I4E-Construct-Header-Content {
    display: contents; }
    div.I4E-Construct-Header > span.I4E-Construct-Header-Content > .I4E-Bit-Link--Title {
      margin-right: 15px; }
  div.I4E-Construct-Header > span.I4E-Construct-Header-Content > div.I4E-Bit-Dropdown > div.I4E-Bit-Dropdown-Head > div.I4E-Bit-Dropdown-Content > div.I4E-Bit-TextBlock--Heading {
    font-size: 17px;
    font-weight: 500; }
