@import '_Expander.scss';
@import '_FileUploader.scss';
@import '_Header.scss';
@import '_MultiSelector.scss';
@import '_PagedTable.scss';
@import '_Selector.scss';

div.I4E-Construct-LocalModal {
    align-items: center;
    background-color: var(--I4C_Default_Alias_PageBackground);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0.85;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;

    &--Show {

    }

    &--Hide {
        display: none;
    }

    div.I4E-Construct-LocalModal-Inner {
        align-items: center;
        display: flex;
        height: 50%;
        justify-content: center;
        opacity: 1;

        &--Column {
            flex-direction: column;
        }
    }
}
