div.I4E-Layout-ListTable {
    border-radius: 4px;
    box-shadow: var(--I4C_Default_Shadow_1);
    overflow: hidden;

    &--WithPadding {
        margin: 7px;
    }

    &:not(&--NoBorder) {
        border: 1px solid var(--I4C_Default_Border_11);
    }

    &.BorderedHeaderCells {
        table.I4E-Layout-ListTable-Inner thead tr th:not(:first-child) {
            border-left: 1px solid var(--I4C_Default_Border_4);
        }
    }

    &.BorderedBodyCells {
        table.I4E-Layout-ListTable-Inner tbody tr td:not(:first-child) {
            border-left: 1px solid var(--I4C_Default_Border_4);
        }
    }

    table.I4E-Layout-ListTable-Inner {
        border-spacing: 0;
        width: 100%;

        thead {
            tr {
                th {
                    border-bottom: 1px solid var(--I4C_Default_Border_11);
                    color: var(--I4C_Default_Text_4);
                    font-weight: 600;
                    position: relative;

                    &.AlignLeft {
                        text-align: left;
                    }
                }

                &:not(.Unpadded) th {
                    padding: 7px;
                }
            }

            tr.ForPaginationButtons {
                th {
                    padding: 1px;
                }
            }

            tr.ForColumnControls {
                th {
                    padding: 3px;

                    div.I4E-Layout-ListTable-TableControlsContainer {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;

                        .I4E-Construct-PagedTable-FilterInput {
                            padding-right: 3px;
                            width: 100%;

                            .I4E-Input {
                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 7px;
                    position: relative;
                    vertical-align: center;

                    &.Center {
                        text-align: center;
                    }

                    &.Empty {
                        color: var(--I4C_Default_Text_2);
                        font-style: italic;
                        font-weight: 500;
                        text-align: center;
                    }

                    &.Mono {
                        font-family: var(--I4R_MonoFont);
                    }

                    &.PreWrap {
                        white-space: pre-wrap;
                    }
                }

                //

                &.Null {

                }

                &:not(.Green):not(.Red) {
                    &:nth-child(even) {
                        td {
                            background-color: var(--I4C_Default_TableRow_0);
                        }

                        &:hover td {
                            background-color: var(--I4C_Default_TableRow_2);
                        }
                    }

                    &:nth-child(odd) {
                        td {
                            background-color: var(--I4C_Default_TableRow_1);

                        }

                        &:hover td {
                            background-color: var(--I4C_Default_TableRow_3);

                        }
                    }
                }

                &.Green {
                    &:nth-child(even) {
                        td {
                            background-color: var(--I4C_Default_TableRow_Green_0);
                        }

                        &:hover td {
                            background-color: var(--I4C_Default_TableRow_Green_2);
                        }
                    }

                    &:nth-child(odd) {
                        td {
                            background-color: var(--I4C_Default_TableRow_Green_1);

                        }

                        &:hover td {
                            background-color: var(--I4C_Default_TableRow_Green_3);

                        }
                    }
                }

                &.Red {
                    &:nth-child(even) {
                        td {
                            background-color: var(--I4C_Default_TableRow_Red_0);
                        }

                        &:hover td {
                            background-color: var(--I4C_Default_TableRow_Red_2);
                        }
                    }

                    &:nth-child(odd) {
                        td {
                            background-color: var(--I4C_Default_TableRow_Red_1);

                        }

                        &:hover td {
                            background-color: var(--I4C_Default_TableRow_Red_3);

                        }
                    }
                }
            }
        }

        tfoot {
            tr {
                td {
                    background-color: var(--I4C_Default_Background_7);
                    border-top: 1px solid var(--I4C_Default_Border_11);
                    color: var(--I4C_Default_Text_4);
                    font-weight: 600;

                    &.AlignLeft {
                        text-align: left;
                    }
                }

                &:not(.Unpadded) td {
                    padding: 15px 7px;
                }

                &.ForPaginationInfoAndButtons {
                    td {
                        padding: 1px;

                        div.I4E-Layout-ListTable-TableControlsContainer {
                            align-items: center;
                            display: flex;
                            justify-content: space-between;

                            div.I4E-Construct-PagedTable-PageInfo {
                                padding: 0 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner {
            thead tr {
                th {
                    background-color: var(--I4C_Default_Background_6);
                }

                &.ForPaginationButtons, &.ForColumnControls {
                    th {
                        background-color: var(--I4C_Default_Background_4);
                    }
                }
            }

            tfoot tr {
                td {
                    background-color: var(--I4C_Default_Background_6);
                }

                &.ForPaginationInfoAndButtons {
                    td {
                        background-color: var(--I4C_Default_Background_4);
                    }
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner {
            thead tr {
                th {
                    background-color: var(--I4C_Default_Background_0);
                }

                &.ForPaginationButtons, &.ForColumnControls {
                    th {
                        background-color: var(--I4C_Default_Background_1);
                    }
                }
            }

            tfoot tr {
                td {
                    background-color: var(--I4C_Default_Background_0);
                }

                &.ForPaginationInfoAndButtons {
                    td {
                        background-color: var(--I4C_Default_Background_1);
                    }
                }
            }
        }
    }
}