div.I4E-Layout-ListTable {
    border-radius: 4px;
    overflow: hidden;

    &--WithPadding {
        margin: 7px;
    }

    &:not(&--NoBorder) {
        border: 1px solid var(--I4C-Main-Border-11);
    }

    &.BorderedHeaderCells {
        table.I4E-Layout-ListTable-Inner thead tr th:not(:first-child) {
            border-left: 1px solid var(--I4C-Main-Border-4);
        }
    }

    &.BorderedBodyCells {
        table.I4E-Layout-ListTable-Inner tbody tr td:not(:first-child) {
            border-left: 1px solid var(--I4C-Main-Border-4);
        }
    }

    table.I4E-Layout-ListTable-Inner {
        border-spacing: 0;
        width: 100%;

        thead {
            &.AlignLeft th {
                text-align: left;
            }

            tr {
                th {
                    border-bottom: 1px solid var(--I4C-Main-Border-11);
                    color: var(--I4C-Main-Text-4);
                    font-weight: 600;
                    position: relative;

                    &.AlignLeft {
                        text-align: left;
                    }
                }

                &:not(.Unpadded) th {
                    padding: 7px;
                }
            }

            tr.ForPaginationButtons {
                th {
                    padding: 1px;
                }
            }

            tr.ForColumnControls {
                th {
                    padding: 3px;

                    div.I4E-Layout-ListTable-TableControlsContainer {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;

                        .I4E-Construct-PagedTable-FilterInput {
                            padding-right: 3px;
                            width: 100%;

                            .I4E-Input {
                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 7px;
                    position: relative;
                    vertical-align: center;

                    &.Center {
                        text-align: center;
                    }

                    &.Empty {
                        color: var(--I4C-Main-Text-2);
                        font-style: italic;
                        font-weight: 500;
                        text-align: center;
                    }

                    &.Mono {
                        font-family: var(--I4R-MonoFont);
                    }

                    &.PreWrap {
                        white-space: pre-wrap;
                    }
                }

                //

                &.Null {

                }
            }
        }

        tfoot {
            tr {
                td {
                    background-color: var(--I4C-Main-Background-7);
                    border-top: 1px solid var(--I4C-Main-Border-11);
                    color: var(--I4C-Main-Text-4);
                    font-weight: 600;

                    &.AlignLeft {
                        text-align: left;
                    }
                }

                &:not(.Unpadded) td {
                    padding: 15px 7px;
                }

                &.ForPaginationInfoAndButtons {
                    td {
                        padding: 1px;

                        div.I4E-Layout-ListTable-TableControlsContainer {
                            align-items: center;
                            display: flex;
                            justify-content: space-between;

                            div.I4E-Construct-PagedTable-PageInfo {
                                padding: 0 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr {
    &:not(.Green):not(.Red) {
        &:nth-child(even) {
            td {
                background-color: var(--I4C-Main-TableRow-0);
            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-2);
            }
        }

        &:nth-child(odd) {
            td {
                background-color: var(--I4C-Main-TableRow-1);

            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-3);

            }
        }
    }

    &.Green {
        &:nth-child(even) {
            td {
                background-color: var(--I4C-Main-TableRow-Green-0);
            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Green-2);
            }
        }

        &:nth-child(odd) {
            td {
                background-color: var(--I4C-Main-TableRow-Green-1);

            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Green-3);

            }
        }
    }

    &.Red {
        &:nth-child(even) {
            td {
                background-color: var(--I4C-Main-TableRow-Red-0);
            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Red-2);
            }
        }

        &:nth-child(odd) {
            td {
                background-color: var(--I4C-Main-TableRow-Red-1);

            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Red-3);

            }
        }
    }
}

div.I4E-Layout-ListTable.StripeInterval2 tbody tr {
    &:not(.Green):not(.Red) {
        &:nth-child(4n+1), &:nth-child(4n+2) {
            td {
                background-color: var(--I4C-Main-TableRow-0);
            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-2);
            }
        }

        &:nth-child(4n+3), &:nth-child(4n+4) {
            td {
                background-color: var(--I4C-Main-TableRow-1);

            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-3);

            }
        }
    }

    &.Green {
        &:nth-child(4n+1), &:nth-child(4n+2) {
            td {
                background-color: var(--I4C-Main-TableRow-Green-0);
            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Green-2);
            }
        }

        &:nth-child(4n+3), &:nth-child(4n+4) {
            td {
                background-color: var(--I4C-Main-TableRow-Green-1);

            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Green-3);

            }
        }
    }

    &.Red {
        &:nth-child(4n+1), &:nth-child(4n+2) {
            td {
                background-color: var(--I4C-Main-TableRow-Red-0);
            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Red-2);
            }
        }

        &:nth-child(4n+3), &:nth-child(4n+4) {
            td {
                background-color: var(--I4C-Main-TableRow-Red-1);

            }

            &:hover td {
                background-color: var(--I4C-Main-TableRow-Red-3);

            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Layout-ListTable {
            &:not(&--NoShadow) {
                box-shadow: var(--I4C-Main-Shadow-1);
            }

            table.I4E-Layout-ListTable-Inner {
                thead tr {
                    th {
                        background-color: var(--I4C-Main-Background-6);
                    }

                    &.ForPaginationButtons, &.ForColumnControls {
                        th {
                            background-color: var(--I4C-Main-Background-4);
                        }
                    }
                }

                tfoot tr {
                    td {
                        background-color: var(--I4C-Main-Background-6);
                    }

                    &.ForPaginationInfoAndButtons {
                        td {
                            background-color: var(--I4C-Main-Background-4);
                        }
                    }
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Layout-ListTable {
            &:not(&--NoShadow) {
                box-shadow: var(--I4C-Main-Shadow-0);
            }

            table.I4E-Layout-ListTable-Inner {
                thead tr {
                    th {
                        background-color: var(--I4C-Main-Background-4);
                    }

                    &.ForPaginationButtons, &.ForColumnControls {
                        th {
                            background-color: var(--I4C-Main-Background-1);
                        }
                    }
                }

                tfoot tr {
                    td {
                        background-color: var(--I4C-Main-Background-0);
                    }

                    &.ForPaginationInfoAndButtons {
                        td {
                            background-color: var(--I4C-Main-Background-1);
                        }
                    }
                }
            }
        }
    }
}