div.I4E-Layout-ListTable {
  border-radius: 4px;
  overflow: hidden; }
  div.I4E-Layout-ListTable--WithPadding {
    margin: 7px; }
  div.I4E-Layout-ListTable:not(div.I4E-Layout-ListTable--NoBorder) {
    border: 1px solid var(--I4C-Main-Border-11); }
  div.I4E-Layout-ListTable.BorderedHeaderCells table.I4E-Layout-ListTable-Inner thead tr th:not(:first-child) {
    border-left: 1px solid var(--I4C-Main-Border-4); }
  div.I4E-Layout-ListTable.BorderedBodyCells table.I4E-Layout-ListTable-Inner tbody tr td:not(:first-child) {
    border-left: 1px solid var(--I4C-Main-Border-4); }
  div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner {
    border-spacing: 0;
    width: 100%; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead.AlignLeft th {
      text-align: left; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr th {
      border-bottom: 1px solid var(--I4C-Main-Border-11);
      color: var(--I4C-Main-Text-4);
      font-weight: 600;
      position: relative; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr th.AlignLeft {
        text-align: left; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr:not(.Unpadded) th {
      padding: 7px; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForPaginationButtons th {
      padding: 1px; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th {
      padding: 3px; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th div.I4E-Layout-ListTable-TableControlsContainer {
        align-items: center;
        display: flex;
        justify-content: space-between; }
        div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th div.I4E-Layout-ListTable-TableControlsContainer .I4E-Construct-PagedTable-FilterInput {
          padding-right: 3px;
          width: 100%; }
          div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th div.I4E-Layout-ListTable-TableControlsContainer .I4E-Construct-PagedTable-FilterInput .I4E-Input input {
            width: 100%; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tbody tr td {
      padding: 7px;
      position: relative;
      vertical-align: center; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tbody tr td.Center {
        text-align: center; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tbody tr td.Empty {
        color: var(--I4C-Main-Text-2);
        font-style: italic;
        font-weight: 500;
        text-align: center; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tbody tr td.Mono {
        font-family: var(--I4R-MonoFont); }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tbody tr td.PreWrap {
        white-space: pre-wrap; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr td {
      background-color: var(--I4C-Main-Background-7);
      border-top: 1px solid var(--I4C-Main-Border-11);
      color: var(--I4C-Main-Text-4);
      font-weight: 600; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr td.AlignLeft {
        text-align: left; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr:not(.Unpadded) td {
      padding: 15px 7px; }
    div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td {
      padding: 1px; }
      div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td div.I4E-Layout-ListTable-TableControlsContainer {
        align-items: center;
        display: flex;
        justify-content: space-between; }
        div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td div.I4E-Layout-ListTable-TableControlsContainer div.I4E-Construct-PagedTable-PageInfo {
          padding: 0 7px; }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr:not(.Green):not(.Red):nth-child(even) td {
  background-color: var(--I4C-Main-TableRow-0); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr:not(.Green):not(.Red):nth-child(even):hover td {
  background-color: var(--I4C-Main-TableRow-2); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr:not(.Green):not(.Red):nth-child(odd) td {
  background-color: var(--I4C-Main-TableRow-1); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr:not(.Green):not(.Red):nth-child(odd):hover td {
  background-color: var(--I4C-Main-TableRow-3); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Green:nth-child(even) td {
  background-color: var(--I4C-Main-TableRow-Green-0); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Green:nth-child(even):hover td {
  background-color: var(--I4C-Main-TableRow-Green-2); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Green:nth-child(odd) td {
  background-color: var(--I4C-Main-TableRow-Green-1); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Green:nth-child(odd):hover td {
  background-color: var(--I4C-Main-TableRow-Green-3); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Red:nth-child(even) td {
  background-color: var(--I4C-Main-TableRow-Red-0); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Red:nth-child(even):hover td {
  background-color: var(--I4C-Main-TableRow-Red-2); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Red:nth-child(odd) td {
  background-color: var(--I4C-Main-TableRow-Red-1); }

div.I4E-Layout-ListTable:not(.StripeInterval2) tbody tr.Red:nth-child(odd):hover td {
  background-color: var(--I4C-Main-TableRow-Red-3); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+1) td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+2) td {
  background-color: var(--I4C-Main-TableRow-0); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+1):hover td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+2):hover td {
  background-color: var(--I4C-Main-TableRow-2); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+3) td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+4) td {
  background-color: var(--I4C-Main-TableRow-1); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+3):hover td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr:not(.Green):not(.Red):nth-child(4n+4):hover td {
  background-color: var(--I4C-Main-TableRow-3); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+1) td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+2) td {
  background-color: var(--I4C-Main-TableRow-Green-0); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+1):hover td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+2):hover td {
  background-color: var(--I4C-Main-TableRow-Green-2); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+3) td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+4) td {
  background-color: var(--I4C-Main-TableRow-Green-1); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+3):hover td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Green:nth-child(4n+4):hover td {
  background-color: var(--I4C-Main-TableRow-Green-3); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+1) td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+2) td {
  background-color: var(--I4C-Main-TableRow-Red-0); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+1):hover td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+2):hover td {
  background-color: var(--I4C-Main-TableRow-Red-2); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+3) td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+4) td {
  background-color: var(--I4C-Main-TableRow-Red-1); }

div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+3):hover td, div.I4E-Layout-ListTable.StripeInterval2 tbody tr.Red:nth-child(4n+4):hover td {
  background-color: var(--I4C-Main-TableRow-Red-3); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable:not(div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable--NoShadow, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable--NoShadow), div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable:not(div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable--NoShadow, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable--NoShadow) {
  box-shadow: var(--I4C-Main-Shadow-1); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr th, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr th {
  background-color: var(--I4C-Main-Background-6); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForPaginationButtons th, div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForPaginationButtons th, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th {
  background-color: var(--I4C-Main-Background-4); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr td, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr td {
  background-color: var(--I4C-Main-Background-6); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td {
  background-color: var(--I4C-Main-Background-4); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable:not(div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable--NoShadow, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable--NoShadow), div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable:not(div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable--NoShadow, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable--NoShadow) {
  box-shadow: var(--I4C-Main-Shadow-0); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr th, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr th {
  background-color: var(--I4C-Main-Background-4); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForPaginationButtons th, div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForPaginationButtons th, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner thead tr.ForColumnControls th {
  background-color: var(--I4C-Main-Background-1); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr td, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr td {
  background-color: var(--I4C-Main-Background-0); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-ListTable table.I4E-Layout-ListTable-Inner tfoot tr.ForPaginationInfoAndButtons td {
  background-color: var(--I4C-Main-Background-1); }

div.I4E-Layout-Panel {
  position: static; }
  div.I4E-Layout-Panel:not(.I4E-Layout-Panel--NoMargin) {
    margin: 7px; }
  div.I4E-Layout-Panel:not(.I4E-Layout-Panel--NoBorder) {
    border: 1px solid var(--I4C-Main-Border-6); }
  div.I4E-Layout-Panel--Rounded {
    border-radius: 7px;
    overflow: hidden; }
  div.I4E-Layout-Panel--Inline {
    display: inline-block; }
  div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner {
    overflow: visible;
    padding: 7px; }
    div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h1, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h2, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h3, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h4, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h5, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h6 {
      margin: 0 calc(11px - 7px); }
  div.I4E-Layout-Panel > div.I4E-Construct-PrimaryHeader, div.I4E-Layout-Panel > div.I4E-Construct-SecondaryHeader {
    border-bottom: 1px solid var(--I4C-Main-Border-4);
    padding: 0 10px; }
    div.I4E-Layout-Panel > div.I4E-Construct-PrimaryHeader:not(:first-child), div.I4E-Layout-Panel > div.I4E-Construct-SecondaryHeader:not(:first-child) {
      border-top: 1px solid var(--I4C-Main-Border-4); }
  div.I4E-Layout-Panel--Contracted:not(.I4E-Layout-Panel--NoBorder) {
    border-bottom: none; }
    div.I4E-Layout-Panel--Contracted:not(.I4E-Layout-Panel--NoBorder) > div.I4E-Construct-PrimaryHeader, div.I4E-Layout-Panel--Contracted:not(.I4E-Layout-Panel--NoBorder) > div.I4E-Construct-SecondaryHeader {
      border-bottom: 1px solid var(--I4C-Main-Border-6); }

div.I4E-Layout-Row {
  display: flex; }
  div.I4E-Layout-Row--Wrap {
    flex-wrap: wrap; }
  div.I4E-Layout-Row--JustifyCenter {
    justify-content: center; }

div.I4E-Layout-Column {
  display: flex;
  flex-direction: column; }
  div.I4E-Layout-Column--Wrap {
    flex-wrap: wrap; }
  div.I4E-Layout-Column--JustifyCenter {
    justify-content: center; }

div.I4E-Layout-VAlign {
  align-items: center;
  display: flex; }

div.I4E-Layout-HAlign {
  display: flex;
  justify-content: center; }

div.I4E-Layout-SpaceBetween {
  display: flex;
  justify-content: space-between; }

div.I4E-Layout-VAlign-Filler {
  flex-grow: 9999; }

div.I4E-Layout-InfoTable {
  border-radius: 4px;
  display: inline-block;
  position: relative; }
  div.I4E-Layout-InfoTable--WithMargin {
    margin: 7px; }
  div.I4E-Layout-InfoTable:not(.I4E-Layout-InfoTable--NoBorder) {
    border: 1px solid var(--I4C-Main-Border-11); }
  div.I4E-Layout-InfoTable table.I4E-Layout-InfoTable-Inner {
    border-collapse: collapse; }
    div.I4E-Layout-InfoTable table.I4E-Layout-InfoTable-Inner tr th {
      background-color: var(--I4C-Main-Background-7);
      border-bottom: 1px solid var(--I4C-Main-Border-11);
      box-sizing: border-box;
      color: var(--I4C-Main-Text-4);
      font-weight: 600;
      padding: 5px 7px; }
    div.I4E-Layout-InfoTable table.I4E-Layout-InfoTable-Inner tr td {
      box-sizing: border-box;
      padding: 5px; }
      div.I4E-Layout-InfoTable table.I4E-Layout-InfoTable-Inner tr td.Mono {
        font-family: var(--I4R-MonoFont); }
      div.I4E-Layout-InfoTable table.I4E-Layout-InfoTable-Inner tr td:nth-child(1) {
        color: var(--I4C-Main-Text-2);
        font-weight: 700;
        padding-left: 7px;
        padding-right: 7px;
        white-space: nowrap; }
  div.I4E-Layout-InfoTable--WithBorder table.I4E-Layout-InfoTable-Inner tr:not(:last-child) td {
    border-bottom: 1px solid var(--I4C-Main-Border-4); }
  div.I4E-Layout-InfoTable > div.I4E-Construct-PrimaryHeader, div.I4E-Layout-InfoTable > div.I4E-Construct-SecondaryHeader {
    border-bottom: 1px solid var(--I4C-Main-Border-4);
    padding: 0 10px; }
    div.I4E-Layout-InfoTable > div.I4E-Construct-PrimaryHeader:not(:first-child), div.I4E-Layout-InfoTable > div.I4E-Construct-SecondaryHeader:not(:first-child) {
      border-top: 1px solid var(--I4C-Main-Border-4); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-Panel, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-Panel {
  background-color: var(--I4C-Main-Background-6);
  box-shadow: var(--I4C-Main-Shadow-2); }
  div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-Panel > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-Panel > div.I4E-Construct-SecondaryHeader, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-Panel > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-Panel > div.I4E-Construct-SecondaryHeader {
    box-shadow: none; }
  div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-Panel--Contracted, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-Panel--Contracted {
    box-shadow: none; }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-InfoTable:not(.I4E-Layout-InfoTable--NoBorder), div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-InfoTable:not(.I4E-Layout-InfoTable--NoBorder) {
  background-color: var(--I4C-Main-Background-4);
  box-shadow: var(--I4C-Main-Shadow-1); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-InfoTable > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Layout-InfoTable > div.I4E-Construct-SecondaryHeader, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-InfoTable > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Layout-InfoTable > div.I4E-Construct-SecondaryHeader {
  box-shadow: none; }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-Panel, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-Panel {
  background-color: var(--I4C-Main-Background-0);
  box-shadow: var(--I4C-Main-Shadow-1); }
  div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-Panel > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-Panel > div.I4E-Construct-SecondaryHeader, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-Panel > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-Panel > div.I4E-Construct-SecondaryHeader {
    box-shadow: none; }
  div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-Panel--Contracted, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-Panel--Contracted {
    box-shadow: none; }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-InfoTable:not(.I4E-Layout-InfoTable--NoBorder), div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-InfoTable:not(.I4E-Layout-InfoTable--NoBorder) {
  background-color: var(--I4C-Main-Background-1);
  box-shadow: var(--I4C-Main-Shadow-0); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-InfoTable > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Layout-InfoTable > div.I4E-Construct-SecondaryHeader, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-InfoTable > div.I4E-Construct-PrimaryHeader, div.I4-App[data-i4-theme-variant="White"] div.I4E-Layout-InfoTable > div.I4E-Construct-SecondaryHeader {
  box-shadow: none; }
