div.I4E-Layout-Panel {
  background-color: white;
  border: 1px solid var(--I4C_Default_Border_6);
  box-shadow: var(--I4C_Default_Shadow_2);
  margin: 7px;
  overflow: hidden; }
  div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner {
    overflow: visible;
    padding: 7px; }
    div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h1, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h2, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h3, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h4, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h5, div.I4E-Layout-Panel div.I4E-Layout-Panel-Inner > h6 {
      margin: 0 calc(11px - 7px); }
  div.I4E-Layout-Panel > div.I4E-Construct-Header {
    border-bottom: 1px solid var(--I4C_Default_Border_4);
    box-shadow: none;
    padding: 0 11px; }

div.I4E-Layout-VAlign {
  align-items: center;
  display: flex; }

div.I4E-Layout-VAlign-Filler {
  flex-grow: 9999; }
