@import "_ListTable.scss";

div.I4E-Layout-Panel {
    box-shadow: var(--I4C-Main-Shadow-2);
    position: relative;

    &:not(.I4E-Layout-Panel--NoMargin) {
        margin: 7px;
    }

    &:not(.I4E-Layout-Panel--NoBorder) {
        border: 1px solid var(--I4C-Main-Border-6);
    }

    &--Rounded {
        border-radius: 7px;
        overflow: hidden;
    }

    &--Inline {
        display: inline-block;
    }

    &--Contracted {
        box-shadow: none;
    }

    div.I4E-Layout-Panel-Inner {
        overflow: visible;
        padding: 7px;

        > h1, > h2, > h3, > h4, > h5, > h6 {
            margin: 0 calc(11px - 7px);
        }
    }

    // Descendent overrides

    > div.I4E-Construct-PrimaryHeader, > div.I4E-Construct-SecondaryHeader {
        border-bottom: 1px solid var(--I4C-Main-Border-4);
        box-shadow: none;
        padding: 0 10px;

        &:not(:first-child) {
            border-top: 1px solid var(--I4C-Main-Border-4);
        }
    }

    &--Contracted:not(.I4E-Layout-Panel--NoBorder) {
        border-bottom: none;

        > div.I4E-Construct-PrimaryHeader, > div.I4E-Construct-SecondaryHeader {
            border-bottom: 1px solid var(--I4C-Main-Border-6);
        }
    }
}

div.I4E-Layout-Row {
    display: flex;

    &--Wrap {
        flex-wrap: wrap;
    }

    &--JustifyCenter {
        justify-content: center;
    }
}

div.I4E-Layout-Column {
    display: flex;
    flex-direction: column;

    &--Wrap {
        flex-wrap: wrap;
    }

    &--JustifyCenter {
        justify-content: center;
    }
}

div.I4E-Layout-VAlign {
    align-items: center;
    display: flex;
}

div.I4E-Layout-HAlign {
    display: flex;
    justify-content: center;
}

div.I4E-Layout-SpaceBetween {
    display: flex;
    justify-content: space-between;
}

div.I4E-Layout-VAlign-Filler {
    flex-grow: 9999;
}

div.I4E-Layout-InfoTable {
    border-radius: 4px;
    display: inline-block;
    position: relative;

    &--WithMargin {
        margin: 7px;
    }

    &:not(.I4E-Layout-InfoTable--NoBorder) {
        border: 1px solid var(--I4C-Main-Border-11);
        box-shadow: var(--I4C-Main-Shadow-1);
    }

    table.I4E-Layout-InfoTable-Inner {
        border-collapse: collapse;

        tr {
            th {
                background-color: var(--I4C-Main-Background-7);
                border-bottom: 1px solid var(--I4C-Main-Border-11);
                box-sizing: border-box;
                color: var(--I4C-Main-Text-4);
                font-weight: 600;
                padding: 5px 7px;
            }

            td {
                box-sizing: border-box;
                padding: 5px;

                &.Mono {
                    font-family: var(--I4R-MonoFont);
                }

                &:nth-child(1) {
                    color: var(--I4C-Main-Text-2);
                    font-weight: 700;
                    padding-left: 7px;
                    padding-right: 7px;
                    white-space: nowrap;
                }
            }
        }
    }

    &--WithBorder {
        table.I4E-Layout-InfoTable-Inner {
            tr {
                &:not(:last-child) {
                    td {
                        border-bottom: 1px solid var(--I4C-Main-Border-4);
                    }
                }
            }
        }
    }

    // Descendent overrides

    > div.I4E-Construct-PrimaryHeader, > div.I4E-Construct-SecondaryHeader {
        border-bottom: 1px solid var(--I4C-Main-Border-4);
        box-shadow: none;
        padding: 0 10px;

        &:not(:first-child) {
            border-top: 1px solid var(--I4C-Main-Border-4);
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Layout-Panel {
            background-color: var(--I4C-Main-Background-6);
        }

        div.I4E-Layout-InfoTable {
            &:not(.I4E-Layout-InfoTable--NoBorder) {
                background-color: var(--I4C-Main-Background-4);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Layout-Panel {
            background-color: var(--I4C-Main-Background-0);
        }

        div.I4E-Layout-InfoTable {
            &:not(.I4E-Layout-InfoTable--NoBorder) {
                background-color: var(--I4C-Main-Background-1);
            }
        }
    }
}