button[class^="I4E.Button"]:not(#_) {
    &:not([class$="--Filled"]) {
        background-color: transparent;
        color: var(--I4C_Default_Accent_5);

        &:hover, &:active {
            color: var(--I4C_Default_Accent_6);
        }
    }

    &[class$="--Filled"] {
        background-color: var(--I4C_Solids_Opaque_White_2);
        color: var(--I4C_Default_Text_6);

        &:hover, &:active {
            color: var(--I4C_Default_Text_6);
        }
    }

    &:hover {
        background-color: var(--I4C_Solids_Opaque_White_3);
    }

    &:active {
        background-color: var(--I4C_Solids_Opaque_White_2);
    }
}
