#blazor-error-ui {
    display: none;

    .Background {
        background-color: rgba(255, 0, 0, 0.5);
        height: 100%;
        left: 0;
        opacity: 0.75;
        overflow: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .Content {
        background-color: #0d0c0e;
        border: 1px solid #e91616;
        border-radius: 4px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.4);
        color: white;
        font-family: var(--I4R_SansSerifFont);
        font-size: 15px;
        left: 50%;
        padding: 7px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 260px;
        z-index: 100;

        .Message {
        }

        .Buttons {
            display: flex;
            justify-content: flex-end;

            button {
                margin: 3px;
            }
        }
    }
}

#components-reconnect-modal {
    background: rgba(0, 0, 0, 0.65) !important;
    font-size: 19px;
    opacity: 1 !important;

    h5 {
        background: var(--I4C_Default_Accent_5);
        border-radius: 5000px;
        box-shadow: var(--I4C_Default_Shadow_3);
        color: white;
        display: inline-block;
        margin: 20px 0 5px 0;
        padding: 7px 11px;

        a {
            color: #dddddd;
            font-size: 12pt;
        }
    }

    div {
        border-color: var(--I4C_Default_Accent_5) var(--I4C_Default_Border_0) var(--I4C_Default_Border_0) !important;
        margin: 0 auto;

        &[style*="display: inline-block;"] {
            display: block !important;
        }
    }

    button {
        background-color: var(--I4C_Default_Background_9);
        border: none;
        border-radius: 4px;
        box-shadow: var(--I4C_Default_Shadow_0);
        color: var(--I4C_Default_Text_6);
        cursor: pointer;
        font-weight: 600;
        height: 30px;
        outline: none;
        padding: 0 10px;
        user-select: none;

        &:hover {
            background-color: var(--I4C_Default_Background_12);
        }

        &:active {
            background-color: var(--I4C_Default_Background_9);
        }
    }
}