.tippy-box {
    background-color: var(--I4C-Main-Alias-PageText);
    box-shadow:       var(--I4C-Main-Shadow-0), var(--I4C-Main-Shadow-1);
    color:            var(--I4C-Main-Alias-PageBackground);
    font-family:      var(--I4R-SansSerifFont);
    font-weight:      600;
    opacity:          0.95;
}

.tippy-box .tippy-arrow {
    color: var(--I4C-Main-Alias-PageText);
}
