div#I4C-Component-VariantLoader {
    align-items: center;
    display: flex;
    margin-left: 7px;
    margin-top: 25px;

    span {
        border-top: 1px solid var(--I4C-Main-Border-5);
        padding-top: 3px;

        * {
            color: var(--I4C-Main-Text-2);
        }

        label, select {
            font-size: 1rem;
            line-height: 1rem;
        }

        select {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 2px;
            font-family: var(--I4R-MonoFont);
            margin-left: 2px;
            outline: none;

            option {
                background-color: var(--I4C-Main-Background-3);
                color: var(--I4C-Main-Text-4);
            }

            &:focus {
                border: 1px solid var(--I4C-Main-Accent-7);
            }
        }
    }
}