@using Integrant4.Element.Bits.BitComponents
@using Integrant4.Element.Bits
@using Integrant4.Element
@using Integrant4.Element.Constructs.Headers
@page "/bitcomponents"

@code {

    [Inject]
    public ElementService ElementService { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ElementService.ProcessJobs();
    }

}

<LinkComponent HREF="http://localhost:5000/bitcomponents">
    Link to the Bit Components test page
</LinkComponent>

<br>
<br>

<SecondaryHeaderComponent>
    A test Bit Component header
</SecondaryHeaderComponent>

<br>
<br>

<div class="I4E-Layout-Panel">
    <SecondaryHeaderComponent>
        A test Bit Component header
    </SecondaryHeaderComponent>

    <div class="I4E-Layout-Panel-Inner">
        <LinkComponent HREF="http://localhost:5000/bitcomponents">
            Link to the Bit Components test page
        </LinkComponent>
    </div>

    <div class="I4E-Layout-Panel-Inner">
        <LinkComponent HREF="http://localhost:5000/bitcomponents" IsAccented="true">
            Link to the Bit Components test page
        </LinkComponent>
    </div>

    <div class="I4E-Layout-Panel-Inner">
        <LinkComponent HREF="http://localhost:5000/bitcomponents" IsHighlighted="true">
            Link to the Bit Components test page
        </LinkComponent>
    </div>

    <div class="I4E-Layout-Panel-Inner">
        <LinkComponent HREF="http://localhost:5000/bitcomponents" IsAccented="true" IsHighlighted="true">
            Link to the Bit Components test page
        </LinkComponent>
    </div>
</div>