@using Integrant4.Element.Bits
@using Integrant4.Element
@using Integrant4.Element.Constructs.Headers
@page "/bitcomponents"

@code {

    [Inject]
    public ElementService ElementService { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ElementService.ProcessJobs();
    }

}

<I4ELink HREF="http://localhost:5000/bitcomponents">
    Link to the Bit Components test page
</I4ELink>

<br>
<br>

<I4ESecondaryHeader>
    A test Bit Component header
</I4ESecondaryHeader>

<br>
<br>

<div class="I4E-Layout-Panel">
    <I4ESecondaryHeader>
        A test Bit Component header
    </I4ESecondaryHeader>

    <div class="I4E-Layout-Panel-Inner">
        <I4ELink HREF="http://localhost:5000/bitcomponents">
            Link to the Bit Components test page
        </I4ELink>
    </div>

    <div class="I4E-Layout-Panel-Inner">
        <I4ELink HREF="http://localhost:5000/bitcomponents" IsAccented="true">
            Link to the Bit Components test page
        </I4ELink>
    </div>

    <div class="I4E-Layout-Panel-Inner">
        <I4ELink HREF="http://localhost:5000/bitcomponents" IsHighlighted="true">
            Link to the Bit Components test page
        </I4ELink>
    </div>

    <div class="I4E-Layout-Panel-Inner">
        <I4ELink HREF="http://localhost:5000/bitcomponents" IsAccented="true" IsHighlighted="true">
            Link to the Bit Components test page
        </I4ELink>
    </div>
</div>