@page "/blockingtests"
@using Integrant4.Element.Bits
@using System.Threading

@code {

    private readonly Spinner _spinner = new();

    private bool _open;

    private void LongRunningAction()
    {
        Task.Run(() =>
        {
            _open = true;
            InvokeAsync(StateHasChanged);

            Thread.Sleep(TimeSpan.FromSeconds(10));

            _open = false;
            InvokeAsync(StateHasChanged);
        });
    }

}

<button @onclick="@(LongRunningAction)">Start long action</button>

@if (_open)
{
    <h1>Loading...</h1>
    @_spinner.Renderer()
}