@page "/colors"
@using Integrant4.Resources.Icons
@using Integrant4.Colorant.Themes.Solids

<div class="Panel">
    <h1>Heading 1</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
</div>

<div class="Panel">
    <h1>Heading 1</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
    <button class="I4E.Button">Transparent button <BootstrapIcon Name="arrow-down-short" Size="30"></BootstrapIcon></button>
    <button class="I4E.Button--Filled">Filled button</button>
</div>

<div class="ShadowPanel">
    <span style="box-shadow: var(--shadow-elevation-1)"></span>
    <span style="box-shadow: var(--shadow-elevation-2)"></span>
    <span style="box-shadow: var(--shadow-elevation-3)"></span>
    <span style="box-shadow: var(--shadow-elevation-4)"></span>
    <span style="box-shadow: var(--shadow-elevation-5)"></span>
</div>

<BootstrapIcon Name="chevron-right"/>
<BootstrapIcon Name="chevron-right" Color="var(--I4C_Solids_Blue_0)"/>
<BootstrapIcon Name="chevron-right" Color="@Constants.Green_0"/>

<div class="SwatchPanel">
    <span style="background-color: var(--color-opac-b-1)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-2)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-3)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-4)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-5)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-6)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-7)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-8)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-9)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-10)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-11)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-12)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-13)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-14)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-15)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
</div>

<div class="SwatchPanel">
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_0)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_0)">var(--I4C_Solids_Opaque_Gray_0)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_1)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_1)">var(--I4C_Solids_Opaque_Gray_1)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_2)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_2)">var(--I4C_Solids_Opaque_Gray_2)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_3)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_3)">var(--I4C_Solids_Opaque_Gray_3)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_4)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_4)">var(--I4C_Solids_Opaque_Gray_4)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_5)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_5)">var(--I4C_Solids_Opaque_Gray_5)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_6)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_6)">var(--I4C_Solids_Opaque_Gray_6)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_7)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_7)">var(--I4C_Solids_Opaque_Gray_7)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_8)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_8)">var(--I4C_Solids_Opaque_Gray_8)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_9)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_9)">var(--I4C_Solids_Opaque_Gray_9)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_10)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_10)">var(--I4C_Solids_Opaque_Gray_10)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_11)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_11)">var(--I4C_Solids_Opaque_Gray_11)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_12)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_12)">var(--I4C_Solids_Opaque_Gray_12)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_13)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_13)">var(--I4C_Solids_Opaque_Gray_13)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_14)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_14)">var(--I4C_Solids_Opaque_Gray_14)</button> </span>
    <span style="background-color: var(--I4C_Solids_Opaque_Gray_15)"><button style="background-color: var(--I4C_Solids_Opaque_Gray_15)">var(--I4C_Solids_Opaque_Gray_15)</button> </span>
</div>
