@page "/colors"
@using Integrant4.Resources.Icons
@using Integrant4.Colorant.Themes.Solids

<div class="Panel">
    <h1>Heading 1</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
</div>

<div class="Panel">
    <h1>Heading 1</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
    <button class="I4E.Button">Transparent button <BootstrapIcon ID="arrow-down-short" Size="30"></BootstrapIcon></button>
    <button class="I4E.Button--Filled">Filled button</button>
</div>

<div class="ShadowPanel">
    <span style="box-shadow: var(--shadow-elevation-1)"></span>
    <span style="box-shadow: var(--shadow-elevation-2)"></span>
    <span style="box-shadow: var(--shadow-elevation-3)"></span>
    <span style="box-shadow: var(--shadow-elevation-4)"></span>
    <span style="box-shadow: var(--shadow-elevation-5)"></span>
</div>

<BootstrapIcon ID="chevron-right"/>
<BootstrapIcon ID="chevron-right" Color="var(--I4C_Solids_Blue_0)"/>
<BootstrapIcon ID="chevron-right" Color="@Constants.Green_0"/>

<div class="SwatchPanel">
    <span style="background-color: var(--color-opac-b-1)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-2)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-3)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-4)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-5)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-6)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-7)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-8)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-9)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-10)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-11)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-12)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-13)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-14)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
    <span style="background-color: var(--color-opac-b-15)"><button style="background-color: rgba(255, 255, 255, 0.15)">Button</button></span>
</div>

<div class="SwatchPanel">
    <span style="background-color: var(--I4C_Default_Opaque_White_0)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_1)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_2)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_3)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_4)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_5)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_6)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_7)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_8)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_9)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_10)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_11)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_12)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_13)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_14)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_White_15)"></span>
</div>

<div class="SwatchPanel">
    <span style="background-color: var(--I4C_Default_Opaque_Black_0)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_1)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_2)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_3)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_4)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_5)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_6)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_7)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_8)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_9)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_10)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_11)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_12)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_13)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_14)"></span>
    <span style="background-color: var(--I4C_Default_Opaque_Black_15)"></span>
</div>
