@page "/"
@using Integrant4.API

<h1>Web</h1>

<ul>
    <li>@(_structureInstance.GetTyped<string?>(nameof(Dog.NameFirst)).Input!.Render())</li>
    <li>@(_structureInstance.GetTyped<string?>(nameof(Dog.NameLast)).Input!.Render())</li>
    <li>@(_structureInstance.GetTyped<int?>(nameof(Dog.Age)).Input!.Render())</li>
</ul>