body {
    background-color: var(--I4C_Default_PageBackground);
    color: var(--I4C_Default_PageText);
    font-family: var(--I4R_SansSerifFont);
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    div.I4-App {
    }
}
