button.I4E-Bit-Button {
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    height: 30px;
    padding: 0;
    user-select: none;
    
    > span.I4E-Bit-Button-Content {
        display: inline-flex;
        align-items: center;
        
        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    //
    
    &:not(.I4E-Bit-Button--IconLeft) {
        padding-left: 10px;
    }

    &.I4E-Bit-Button--IconLeft {
        padding-left: 5px;
    }

    &:not(.I4E-Bit-Button--IconRight) {
        padding-right: 10px;
    }

    &.I4E-Bit-Button--IconRight {
        padding-right: 5px;
    }
    
    //

    &:focus {
        outline: none;
    }

    &:focus-visible {
        box-shadow: 0 0 1px 0 var(--I4C_Default_Accent_5);
    }

    // Default colors

    &.I4E-Bit-Button--Default {
        background-color: var(--I4C_Solids_Opaque_White_2);
        color: var(--I4C_Default_Text_6);

        &:hover, &:active {
            color: var(--I4C_Default_Text_6);
        }
    }

    &.I4E-Bit-Button--Accent {
        background-color: var(--I4C_Default_Accent_5);
        color: var(--I4C_Default_Accent_6_Text);

        &:hover {
            background-color: var(--I4C_Default_Accent_4);
        }

        &:active {
            background-color: var(--I4C_Default_Accent_3);
        }
    }

    &.I4E-Bit-Button--Transparent {
        background-color: transparent;
        color: var(--I4C_Default_Accent_5);

        &:hover, &:active {
            color: var(--I4C_Default_Accent_6);
        }
    }

    &:hover {
        background-color: var(--I4C_Solids_Opaque_White_3);
    }

    &:active {
        background-color: var(--I4C_Solids_Opaque_White_2);
    }
}

@mixin _ColorButton(
    $normalBackground, $normalBorder, $normalColor, 
    $focusBackground, $focusBorder, $focusColor, 
    $activeBackground, $activeBorder, $activeColor,
    $disabledBackground, $disabledBorder, $disabledColor,
) {
    &:not(.I4E-Bit-IsDisabled):not(:disabled) {
        background-color: $normalBackground;
        border: 1px solid $normalBorder;
        color: $normalColor;

        &:hover, &:focus {
            background-color: $focusBackground;
            border: 1px solid $focusBorder;
            color: $focusColor;
        }

        &:active {
            background-color: $activeBackground;
            border: 1px solid $activeBorder;
            color: $activeColor;
        }
    }

    &.I4E-Bit-IsDisabled, &:disabled {
        background-color: $disabledBackground;
        border: 1px solid $disabledBorder;
        color: $disabledColor;
    }
}

button.I4E-Bit-Button--Blue {
    @include _ColorButton(
                    var(--I4C_Solids_Blue_6),
                    var(--I4C_Solids_Blue_6),
                    white,
                //
                    var(--I4C_Solids_Blue_8),
                    var(--I4C_Solids_Blue_8),
                    white,
                //
                    var(--I4C_Solids_Blue_10),
                    var(--I4C_Solids_Blue_0),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_6),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Green {
    @include _ColorButton(
                    var(--I4C_Solids_Green_9),
                    var(--I4C_Solids_Green_9),
                    white,
                //
                    var(--I4C_Solids_Green_7),
                    var(--I4C_Solids_Green_7),
                    white,
                //
                    var(--I4C_Solids_Green_5),
                    var(--I4C_Solids_Green_4),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_6),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Orange {
    @include _ColorButton(
                    var(--I4C_Solids_Orange_8),
                    var(--I4C_Solids_Orange_8),
                    white,
                //
                    var(--I4C_Solids_Orange_6),
                    var(--I4C_Solids_Orange_6),
                    white,
                //
                    var(--I4C_Solids_Orange_4),
                    var(--I4C_Solids_Orange_3),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_6),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Purple {
    @include _ColorButton(
                    var(--I4C_Solids_Purple_9),
                    var(--I4C_Solids_Purple_9),
                    white,
                //
                    var(--I4C_Solids_Purple_7),
                    var(--I4C_Solids_Purple_7),
                    white,
                //
                    var(--I4C_Solids_Purple_5),
                    var(--I4C_Solids_Purple_4),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_6),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Red {
    @include _ColorButton(
                    var(--I4C_Solids_Red_9),
                    var(--I4C_Solids_Red_9),
                    white,
                //
                    var(--I4C_Solids_Red_7),
                    var(--I4C_Solids_Red_7),
                    white,
                //
                    var(--I4C_Solids_Red_5),
                    var(--I4C_Solids_Red_4),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_6),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Yellow {
    @include _ColorButton(
                    var(--I4C_Solids_Yellow_6),
                    var(--I4C_Solids_Yellow_6),
                    black,
                //
                    var(--I4C_Solids_Yellow_5),
                    var(--I4C_Solids_Yellow_5),
                    black,
                //
                    var(--I4C_Solids_Yellow_3),
                    var(--I4C_Solids_Yellow_2),
                    black,
                //
                    transparent,
                    var(--I4C_Default_Border_6),
                    var(--I4C_Default_Text_0)
    );
}
