button.I4E-Bit-Button {
    align-items: center;
    border: none;
    border-radius: calc(1em * (4 / 15));
    display: inline-flex;
    font-weight: 600;
    padding: 0;
    user-select: none;

    &:not(.I4E-Bit--Disabled) {
        cursor: pointer;

        &:hover {
            background-color: var(--I4C_Default_Opaque_White_3);
        }

        &:active {
            background-color: var(--I4C_Default_Opaque_White_2);
        }
    }

    &.I4E-Bit--Disabled {
        cursor: not-allowed;
    }

    > span.I4E-Bit-Button-Content {
        align-items: center;
        display: inline-flex;

        &:not(:last-child) {
            margin-right: calc(1em * (5 / 15));
        }
    }

    //

    &:not(.I4E-Bit-Button--Small) {
        height: 2em;

        &:not(.I4E-Bit-Button--IconLeft) {
            padding-left: calc(1em * (10 / 15));
        }

        &.I4E-Bit-Button--IconLeft {
            padding-left: calc(1em * (5 / 15));
        }

        &:not(.I4E-Bit-Button--IconRight) {
            padding-right: calc(1em * (10 / 15));
        }

        &.I4E-Bit-Button--IconRight {
            padding-right: calc(1em * (5 / 15));
        }
    }

    &.I4E-Bit-Button--Small {
        height: 1.5em;

        &:not(.I4E-Bit-Button--IconLeft) {
            padding-left: calc(1em * (6 / 15));
        }

        &.I4E-Bit-Button--IconLeft {
            padding-left: calc(1em * (3 / 15));
        }

        &:not(.I4E-Bit-Button--IconRight) {
            padding-right: calc(1em * (6 / 15));
        }

        &.I4E-Bit-Button--IconRight {
            padding-right: calc(1em * (3 / 15));
        }
    }

    //

    &:focus {
        outline: none;
    }

    &:focus-visible {
        box-shadow: 0 0 1px 0 var(--I4C_Default_Accent_5);
    }

    // Default colors

    &.I4E-Bit-Button--Default {
        &.I4E-Bit--Disabled {
            opacity: 0.5;
        }
    }

    &.I4E-Bit-Button--Accent {
        background-color: var(--I4C_Default_Accent_5);
        color: var(--I4C_Default_Accent_6_Text);

        &:hover:not(.I4E-Bit--Disabled) {
            background-color: var(--I4C_Default_Accent_4);
        }

        &:active:not(.I4E-Bit--Disabled) {
            background-color: var(--I4C_Default_Accent_3);
        }

        &.I4E-Bit--Disabled {
            opacity: 0.5;
        }
    }

    &.I4E-Bit-Button--Transparent {
        background-color: transparent;

        &.I4E-Bit--Disabled {
            opacity: 0.5;
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        button.I4E-Bit-Button {
            &.I4E-Bit-Button--Default {
                background-color: var(--I4C_Default_Opaque_White_2);
                box-shadow: var(--I4C_Default_Shadow_0);
                color: var(--I4C_Default_Text_6);

                &:hover:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_White_3);
                    color: var(--I4C_Default_Text_6);
                }

                &:active:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_White_2);
                    color: var(--I4C_Default_Text_6);
                }
            }

            &.I4E-Bit-Button--Transparent {
                color: var(--I4C_Default_Accent_5);

                &:hover:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_White_3);
                    color: var(--I4C_Default_Accent_6);
                }

                &:active:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_White_2);
                    color: var(--I4C_Default_Accent_6);
                }
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        button.I4E-Bit-Button {
            &.I4E-Bit-Button--Default {
                background-color: var(--I4C_Default_Opaque_Black_1);
                color: var(--I4C_Default_Text_6);

                &:hover:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_Black_2);
                    color: var(--I4C_Default_Text_6);
                }

                &:active:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_Black_1);
                    color: var(--I4C_Default_Text_6);
                }
            }

            &.I4E-Bit-Button--Transparent {
                color: var(--I4C_Default_Accent_5);

                &:hover:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_Black_1);
                    color: var(--I4C_Default_Accent_6);
                }

                &:active:not(.I4E-Bit--Disabled) {
                    background-color: var(--I4C_Default_Opaque_Black_0);
                    color: var(--I4C_Default_Accent_6);
                }
            }
        }
    }
}

//

@mixin _ColorButton(
    $normalBackground, $normalBorder, $normalColor, 
    $focusBackground, $focusBorder, $focusColor, 
    $activeBackground, $activeBorder, $activeColor,
    $disabledBackground, $disabledBorder, $disabledColor,
) {
    &:not(.I4E-Bit--Disabled):not(:disabled) {
        background-color: $normalBackground;
        box-shadow: var(--I4C_Default_Shadow_0);
        border: 1px solid $normalBorder;
        color: $normalColor;

        &:hover, &:focus {
            background-color: $focusBackground;
            border: 1px solid $focusBorder;
            color: $focusColor;
        }

        &:active {
            background-color: $activeBackground;
            border: 1px solid $activeBorder;
            color: $activeColor;
        }
    }

    &.I4E-Bit--Disabled, &:disabled {
        background-color: $disabledBackground;
        border: 1px solid $disabledBorder;
        color: $disabledColor;
    }
}

button.I4E-Bit-Button--Blue {
    @include _ColorButton(
                    var(--I4C_Solids_Blue_6),
                    var(--I4C_Solids_Blue_6),
                    white,
                //
                    var(--I4C_Solids_Blue_8),
                    var(--I4C_Solids_Blue_8),
                    white,
                //
                    var(--I4C_Solids_Blue_10),
                    var(--I4C_Solids_Blue_0),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_4),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Green {
    @include _ColorButton(
                    var(--I4C_Solids_Green_9),
                    var(--I4C_Solids_Green_9),
                    white,
                //
                    var(--I4C_Solids_Green_7),
                    var(--I4C_Solids_Green_7),
                    white,
                //
                    var(--I4C_Solids_Green_5),
                    var(--I4C_Solids_Green_4),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_4),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Orange {
    @include _ColorButton(
                    var(--I4C_Solids_Orange_8),
                    var(--I4C_Solids_Orange_8),
                    white,
                //
                    var(--I4C_Solids_Orange_6),
                    var(--I4C_Solids_Orange_6),
                    white,
                //
                    var(--I4C_Solids_Orange_4),
                    var(--I4C_Solids_Orange_3),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_4),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Purple {
    @include _ColorButton(
                    var(--I4C_Solids_Purple_9),
                    var(--I4C_Solids_Purple_9),
                    white,
                //
                    var(--I4C_Solids_Purple_7),
                    var(--I4C_Solids_Purple_7),
                    white,
                //
                    var(--I4C_Solids_Purple_5),
                    var(--I4C_Solids_Purple_4),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_4),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Red {
    @include _ColorButton(
                    var(--I4C_Solids_Red_9),
                    var(--I4C_Solids_Red_9),
                    white,
                //
                    var(--I4C_Solids_Red_7),
                    var(--I4C_Solids_Red_7),
                    white,
                //
                    var(--I4C_Solids_Red_5),
                    var(--I4C_Solids_Red_4),
                    white,
                //
                    transparent,
                    var(--I4C_Default_Border_4),
                    var(--I4C_Default_Text_0)
    );
}

button.I4E-Bit-Button--Yellow {
    @include _ColorButton(
                    var(--I4C_Solids_Yellow_6),
                    var(--I4C_Solids_Yellow_6),
                    black,
                //
                    var(--I4C_Solids_Yellow_5),
                    var(--I4C_Solids_Yellow_5),
                    black,
                //
                    var(--I4C_Solids_Yellow_3),
                    var(--I4C_Solids_Yellow_2),
                    black,
                //
                    transparent,
                    var(--I4C_Default_Border_4),
                    var(--I4C_Default_Text_0)
    );
}
