div.I4E-Bit-Checkbox {
    display: inline-block;

    &:not(.I4E-Bit-IsDisabled) {
        color: var(--I4C_Default_Text_7);
        cursor: pointer;

        &:hover {
            color: var(--I4C_Default_Text_5);
        }

        &:active {
            color: var(--I4C_Default_Text_4);
        }
    }

    &.I4E-Bit-IsDisabled {
        color: var(--I4C_Default_Text_1);
        cursor: not-allowed;
    }
}