div[class~="I4E.Bit.Checkbox"] {
    display: inline-block;

    &:not([class~="I4E.Bit.IsDisabled"]) {
        color: var(--Colorant_Solids_Opaque_White_14);
        cursor: pointer;

        &:hover {
            color: var(--Colorant_Solids_Opaque_White_13);
        }

        &:active {
            color: var(--Colorant_Solids_Opaque_White_12);
        }
    }

    &[class~="I4E.Bit.IsDisabled"] {
        color: var(--Colorant_Solids_Opaque_White_9);
        cursor: not-allowed;
    }
}