div.I4E-Bit-Checkbox {
    display: inline-flex;

    &:not(.I4E-Bit-IsDisabled) {
        color: var(--I4C-Main-Text-7);
        cursor: pointer;

        &:hover {
            color: var(--I4C-Main-Text-5);
        }

        &:active {
            color: var(--I4C-Main-Text-4);
        }
    }

    &.I4E-Bit-IsDisabled {
        color: var(--I4C-Main-Text-1);
        cursor: not-allowed;
    }
}