.I4E-Bit {
    &[hidden] {
        display: none !important;
    }
}

div.I4E-Bit-Chip, a.I4E-Bit-Chip {
    align-items: center;
    border-radius: 5000px;
    box-shadow: var(--I4C-Main-Shadow-0);
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 600;
    min-height: calc(24 * (1em / var(--I4E-Base-Scale)));
    padding: calc(1em * (2 / var(--I4E-Base-Scale))) calc(7 * (1em / var(--I4E-Base-Scale)));
    vertical-align: middle;

    &.I4E-Bit-Chip--Link {
        color: var(--I4C-Main-PageText);
        text-decoration: none;

        &:focus {
            outline: none;
        }

        &:visited {
            color: var(--I4C-Main-PageText);
        }
    }

    &.I4E-Bit-Chip--IconLeft {
        padding-left: calc(4 * (1em / var(--I4E-Base-Scale)));
    }

    &.I4E-Bit-Chip--IconRight {
        padding-right: calc(4 * (1em / var(--I4E-Base-Scale)));
    }

    > span.I4E-Bit-Chip-Contents {
        align-items: center;
        display: flex;
        width: 100%;

        > span.I4E-Bit-Chip-Content {
            align-items: center;
            display: inline-flex;

            &:not(:last-child) {
                margin-right: calc(5 * (1em / var(--I4E-Base-Scale)));
            }

            &:only-child {
                flex-grow: 1;
            }
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Bit-Chip, a.I4E-Bit-Chip {
            background-color: var(--I4C-Main-Background-12);
        }

        a.I4E-Bit-Chip--Link {
            &:hover {
                background-color: var(--I4C-Main-Opaque-White-3);
            }

            &:focus {
                background-color: var(--I4C-Main-Opaque-White-2);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Bit-Chip, a.I4E-Bit-Chip {
            background-color: var(--I4C-Main-Background-0);
        }

        a.I4E-Bit-Chip--Link {
            &:hover {
                background-color: var(--I4C-Main-Opaque-Black-0);
            }

            &:focus {
                background-color: var(--I4C-Main-Opaque-Black-1);
            }
        }
    }
}