div.I4E-Bit-Dropdown {
    display: inline-block;

    div.I4E-Bit-Dropdown-Head {
        cursor: pointer;
    }

    div.I4E-Bit-Dropdown-Children {
        background-color: var(--I4C_Default_Background_6);
        border-radius: 5px;
        box-shadow: var(--I4C_Default_Shadow_1);
        display: none;
        margin: 17px;
        padding: 10px;
        position: absolute;

        &[data-show] {
            display: block;
        }

        div.I4E-Bit-Dropdown-Content {
            > * {
                box-sizing: border-box;
                width: 100%;
            }
        }
    }

    // Descendent overrides

    div.I4E-Bit-Dropdown-Head[data-contents-shown] {
        a.I4E-Bit-PageLink {
            color: var(--I4C_Default_Accent_8);
        }
    }
}
