div.I4E-Bit-Dropdown {
    display: inline-block;

    div.I4E-Bit-Dropdown-Head {
        cursor: pointer;
    }

    div.I4E-Bit-Dropdown-Contents {
        background-color: var(--I4C-Main-Background-6);
        border-radius: 5px;
        box-shadow: var(--I4C-Main-Shadow-1);
        display: none;
        margin: 17px;
        padding: 10px;
        position: absolute;
        z-index: 250;

        &[data-show] {
            display: block;
        }

        div.I4E-Bit-Dropdown-Content {
            z-index: 250;

            > * {
                box-sizing: border-box;
                width: 100%;
            }

            &:not(:last-child) {
                margin-bottom: 3px;
            }

            &:only-child {
                flex-grow: 1;
            }
        }
    }

    // Descendent overrides

    div.I4E-Bit-Dropdown-Head[data-contents-shown] {
        a.I4E-Bit-HeaderLink {
            color: var(--I4C-Main-Accent-8);
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Contents {
            background-color: var(--I4C-Main-Background-8);
            border: 1px solid var(--I4C-Main-Border-11);
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Contents {
            background-color: var(--I4C-Main-Background-0);
            border: 1px solid var(--I4C-Main-Border-11);
        }
    }
}