div[class~="I4E.Bit.Dropdown"] {
    display: inline-block;
    
    div[class~="I4E.Bit.Dropdown.Head"] {
        cursor: pointer;
    }

    div[class~="I4E.Bit.Dropdown.Children"] {
        background-color: var(--I4C_Default_Background_6);
        border-radius: 5px;
        box-shadow: var(--I4C_Default_Shadow_1);

        margin: 17px;
        padding: 10px;
        display: none;
        position: absolute;

        &[data-show] {
            display: block;
        }

        div[class~="I4E.Bit.Dropdown.Content"] {
            > * {
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
}
