$HeightHeaderPrimary: 50px;
$HeightHeaderSecondary: 36px;

div.I4E-Bit-Header {
    align-items: center;
    box-shadow: var(--I4C-Main-Shadow-0);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 15px;
    width: 100%;
    z-index: 100;

    &--Primary {
        min-height: $HeightHeaderPrimary;
        position: sticky;
        top: 0;
    }

    &--Secondary {
        min-height: $HeightHeaderSecondary;
    }

    div.I4E-Bit-Header-Contents {
        position: relative;

        > span.I4E-Bit-Header-Content {
            display: contents;

            > .I4E-Bit-HeaderLink--Title {
                margin-right: 15px;
            }
        }
    }

    // Header link


    // Descendent overrides

    &--Primary {
        a.I4E-Bit-HeaderLink {
            min-height: $HeightHeaderPrimary;

            &.I4E-Bit-HeaderLink--Title {
                font-size: 1.35rem;
                font-weight: 600;
            }

            &:not(.I4E-Bit-HeaderLink--Title) {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        div.I4E-Bit-TextBlock {
            font-size: 1.2rem;
            font-weight: 600;
        }

        div.I4E-Bit-Dropdown-Children div.I4E-Bit-TextBlock {
            font-size: unset;
            font-weight: unset;
        }

        div.I4E-Bit-VerticalLine {
            height: 30px;
        }
    }

    &--Secondary {
        a.I4E-Bit-HeaderLink {
            min-height: $HeightHeaderSecondary;

            &.I4E-Bit-HeaderLink--Title {
                font-size: 1.2rem;
                font-weight: 600;
            }

            &:not(.I4E-Bit-HeaderLink--Title) {
                font-size: 1.1rem;
                font-weight: 500;
            }
        }

        div.I4E-Bit-TextBlock {
            font-size: 1.1rem;
            font-weight: 500;
        }

        div.I4E-Bit-Dropdown-Children div.I4E-Bit-TextBlock {
            font-size: unset;
            font-weight: unset;
        }
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Bit-Header {
            &--Primary {
                background-color: var(--I4C-Main-Background-6);
            }

            &--Secondary {
                background-color: var(--I4C-Main-Background-7);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Bit-Header {
            &--Primary {
                background-color: var(--I4C-Main-Background-0);
            }

            &--Secondary {
                background-color: var(--I4C-Main-Background-4);
            }
        }
    }
}