a.I4E-Bit-Link {
    color: var(--I4C-Main-PageText);
    outline: none;
    text-decoration: none;

    > span.I4E-Bit-Link-Contents {
        align-items: center;
        display: flex;

        > span.I4E-Bit-Link-Content {
            align-items: center;
            display: inline-flex;

            &:not(:last-child) {
                margin-right: calc(1em * (5 / var(--I4E-Base-Scale)));
            }
        }
    }

    // Default colors

    &:not(.I4E-Bit-Link--Accented):not(.I4E-Bit-Link--Highlighted) {
        color: var(--I4C-Main-PageText);

        &:visited {
            color: var(--I4C-Main-PageText);
        }
    }

    &:not(#_):hover {
        color: var(--I4C-Main-Accent-8);
        text-decoration: underline;
    }

    &:not(#_):active {
        color: var(--I4C-Main-Accent-9);
        text-decoration: underline;
    }

    &.I4E-Bit-Link--Accented {
        color: var(--I4C-Main-Accent-7);
    }

    &.I4E-Bit-Link--Highlighted {
        text-decoration: underline;
    }
}