a.I4E-Bit-PageLink {
    align-items: center;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: var(--I4C_Default_PageText);
    display: inline-flex;
    text-decoration: none;

    &:not(.I4E-Bit-PageLink--Title) {
        font-size: 16px;
        font-weight: 500;
    }

    &.I4E-Bit-PageLink--Title {
        font-size: 18px;
        font-weight: 600;
    }

    &:hover:not(#_) {
        border-bottom-color: var(--I4C_Default_Accent_8);
        color: var(--I4C_Default_Accent_8);
    }

    &:active:not(#_) {
        border-bottom-color: var(--I4C_Default_Accent_9);
        color: var(--I4C_Default_Accent_9);
    }

    &.I4E-Bit-PageLink--Highlighted, &[data-highlighted] {
        border-bottom-color: var(--I4C_Default_Accent_7);
    }

    &[data-highlighted] {
    }

    > span.I4E-Bit-PageLink-Content {
        align-items: center;
        display: inline-flex;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}
