a.I4E-Bit-PageLink {
    align-items: center;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: var(--I4C_Default_PageText);
    display: inline-flex;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;

    &:hover:not(#_) {
        border-bottom-color: var(--I4C_Default_Accent_8);
        color: var(--I4C_Default_Accent_8);
    }

    &:active:not(#_) {
        border-bottom-color: var(--I4C_Default_Accent_9);
        color: var(--I4C_Default_Accent_9);
    }

    &.I4E-Bit-PageLink--Highlighted {
        border-bottom-color: var(--I4C_Default_Accent_7);
    }

    > span.I4E-Bit-PageLink-Content {
        align-items: center;
        display: inline-flex;
        min-height: 42px;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}