div.I4E-Bit-Radio {
    div.I4E-Bit-Radio-Option {
        align-items: center;
        border-radius: 4px;
        display: flex;
        margin: 2px;
        padding: 5px;

        &:hover {
            background-color: var(--I4C-Main-Opaque-Black-3);
            cursor: pointer;
        }

        div.I4E-Bit-Radio-Option-Button {
            height: 16px;
            padding-right: 9px;
            width: 16px;
        }

        div.I4E-Bit-Radio-Option-Content {
            width: 100%;
        }
    }
}


div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        div.I4E-Bit-Radio div.I4E-Bit-Radio-Option {
            &:hover {
                background-color: var(--I4C-Main-Background-16);
            }

            &[data-selected]:not(:hover) {
                background-color: var(--I4C-Main-Background-12);
            }
        }
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        div.I4E-Bit-Radio div.I4E-Bit-Radio-Option {
            &:hover {
                background-color: var(--I4C-Main-Background-8);
            }

            &[data-selected]:not(:hover) {
                background-color: var(--I4C-Main-Background-6);
            }
        }
    }
}
