// https://stephanwagner.me/only-css-loading-spinner

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

div.I4E-Bit-Spinner {
    &--Block {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--Inline {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    div.I4E-Bit-Spinner-Inner {
        height: calc(1em * (20 / 15));
        position: relative;
        width: calc(1em * (20 / 15));

        &::before {
            animation: spinner .6s linear infinite;
            border: calc(1em * (2 / 15)) solid transparent;
            border-radius: 50%;
            border-top-color: var(--I4C_Default_Accent_6);
            box-sizing: border-box;
            content: '';
            height: calc(1em * (20 / 15));
            left: 0;
            position: absolute;
            top: 0;
            width: calc(1em * (20 / 15));
        }
    }

    div.I4E-Bit-Spinner-Text {

    }
}