div.I4E-Bit-TextBlock {
    align-items: center;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    height: 30px;
    padding: 0;

    > span.I4E-Bit-TextBlock-Content {
        align-items: center;
        display: inline-flex;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    //

    &--Hoverable {
        &:not(.I4E-Bit-Button--Hoverable--IconLeft) {
            padding-left: 10px;
        }

        &.I4E-Bit-Button--Hoverable--IconLeft {
            padding-left: 5px;
        }

        &:not(.I4E-Bit-Button--Hoverable--IconRight) {
            padding-right: 10px;
        }

        &.I4E-Bit-Button--Hoverable--IconRight {
            padding-right: 5px;
        }
    }

    &--Heading {
        font-weight: 500;
    }


    //

    &:focus {
        outline: none;
    }

    &:focus-visible {
        box-shadow: 0 0 1px 0 var(--I4C_Default_Accent_5);
    }

    //

    &.I4E-Bit-TextBlock--Hoverable {
        &:hover {
            background-color: var(--I4C_Solids_Opaque_White_3);
        }
    }
}