div[class~="I4E.Bit.TextBlock"] {
    align-items: center;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    height: 30px;
    padding: 0;

    > span[class~="I4E.Bit.TextBlock.Content"] {
        align-items: center;
        display: inline-flex;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    &[class~="I4E.Bit.TextBlock--Title"] {
        font-size: 21px;
        font-weight: 600;
    }

    //

    &:not([class~="I4E.Bit.Button--IconLeft"]) {
        padding-left: 10px;
    }

    &[class~="I4E.Bit.Button--IconLeft"] {
        padding-left: 5px;
    }

    &:not([class~="I4E.Bit.Button--IconRight"]) {
        padding-right: 10px;
    }

    &[class~="I4E.Bit.Button--IconRight"] {
        padding-right: 5px;
    }

    //

    &:focus {
        outline: none;
    }

    &:focus-visible {
        box-shadow: 0 0 1px 0 var(--Colorant_Default_Accent_5);
    }

    //

    &[class~="I4E.Bit.TextBlock--Hoverable"] {
        &:hover {
            background-color: var(--Colorant_Solids_Opaque_White_3);
        }
    }
}