span.I4E-Bit-ValidationView, div.I4E-Bit-ValidationView {
    flex-wrap: wrap;

    &--Inline {
        display: inline-flex;
    }

    &--Block {
        display: flex;
    }
}

span.I4E-Bit-Validation {
    align-items: center;
    border-radius: 5000px;
    box-shadow: var(--I4C-Main-Shadow-0);
    display: inline-flex;
    font-weight: normal;
    justify-content: flex-start;
    margin: 1px;
    min-width: 0;
    padding: 3px 6px 3px 3px;
    white-space: nowrap;

    &:not(:last-child) {
        margin-right: 3px;
    }

    &--Invalid {
        background-color: #c80000;
        color: white;
    }

    &--Warning {
        background-color: #ffff00;
        color: black;
        padding-left: 5px; // Triangle needs a bit more space to look nice
    }

    &--Valid {
        background-color: #008000;
        color: white;
    }

    &--Validating {
        color: white;
        overflow: hidden;
        padding-left: 5px; // V needs a bit more space to look nice
        position: relative;
        z-index: 1;

        &::before {
            animation: stripes 0.5s linear infinite;
            background-image: repeating-linear-gradient(
                            to right,
                            blue 0,
                            blue 8px,
                            #0000d9 8px,
                            #0000d9 16px
            );
            background-repeat: repeat;
            background-size: 16px;
            bottom: 0;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: calc(100% + 16px);
            z-index: -1;
        }
    }

    .I4R-BootstrapIcon svg {
        margin: 0 3px 0 1px;
    }
}

@keyframes stripes {
    from {
        transform: translateX(-16px);
    }

    to {
        transform: translateX(0);
    }
}