span.I4E-Bit-ValidationView, div.I4E-Bit-ValidationView {
    flex-wrap: wrap;

    &--Inline {
        display: inline-flex;
    }

    &--Block {
        display: flex;
    }

    span.I4E-Bit-ValidationView-Validation {
        align-items: center;
        border-radius: 5000px;
        display: inline-flex;
        justify-content: flex-start;
        margin: 1px;
        padding: 3px 6px 3px 3px;

        &:not(:last-child) {
            margin-right: 3px;
        }

        &--Invalid {
            background-color: #c80000;
            color: white;
        }

        &--Warning {
            background-color: #ffff00;
            color: black;
            padding-left: 5px; // Triangle needs a bit more space to look nice
        }

        &--Valid {
            background-color: #008000;
            color: white;
        }

        .I4R-BootstrapIcon svg {
            margin: 0 3px 0 1px;
        }
    }
}