button[class~="I4E.Button"] {
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  height: 30px;
  padding: 0;
  user-select: none; }
  button[class~="I4E.Button"]:not([class~="I4E.Button--IconFirst"]) {
    padding-left: 10px; }
  button[class~="I4E.Button"]:not([class~="I4E.Button--IconLast"]) {
    padding-right: 10px; }
  button[class~="I4E.Button"]:focus {
    outline: none; }
  button[class~="I4E.Button"]:not([class~="I4E.Button--Filled"]) {
    background-color: transparent;
    color: var(--Colorant_Default_Accent_5); }
    button[class~="I4E.Button"]:not([class~="I4E.Button--Filled"]):hover, button[class~="I4E.Button"]:not([class~="I4E.Button--Filled"]):active {
      color: var(--Colorant_Default_Accent_6); }
  button[class~="I4E.Button"][class~="I4E.Button--Filled"] {
    background-color: var(--Colorant_Solids_Opaque_White_2);
    color: var(--Colorant_Default_Text_6); }
    button[class~="I4E.Button"][class~="I4E.Button--Filled"]:hover, button[class~="I4E.Button"][class~="I4E.Button--Filled"]:active {
      color: var(--Colorant_Default_Text_6); }
  button[class~="I4E.Button"]:hover {
    background-color: var(--Colorant_Solids_Opaque_White_3); }
  button[class~="I4E.Button"]:active {
    background-color: var(--Colorant_Solids_Opaque_White_2); }

code {
  border: 1px solid #DEE2E6;
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0.2rem 0.4rem;
  font-family: monospace; }

.MVisibleOnHover {
  display: none; }
  .MVisibleOnHover .MVisibleOnParentHover {
    display: none; }
  .MVisibleOnHover:hover {
    display: unset; }
    .MVisibleOnHover:hover .MVisibleOnParentHover {
      display: unset; }
