@import '_Button.scss';
@import '_Chip.scss';

// https://getantibody.github.io/
code {
    border: 1px solid #DEE2E6;
    background-color: rgba(27, 31, 35, 0.05);
    padding: 0.2rem 0.4rem;
    font-family: monospace;
}

.MVisibleOnHover {
    display: none;

    .MVisibleOnParentHover {
        display: none;
    }

    &:hover {
        display: unset;

        .MVisibleOnParentHover {
            display: unset;
        }
    }
}
