a.I4E-Bit-Chip--Link:not(#_) {
    &:hover {
        background-color: var(--I4C_Solids_Opaque_Black_0);
    }

    &:focus {
        background-color: var(--I4C_Solids_Opaque_Black_1);
    }
}

a.I4E-Bit-Link--Button:not(#_) {
    &:hover {
        background-color: var(--I4C_Solids_Opaque_Black_1);
    }

    &:active {
        background-color: var(--I4C_Solids_Opaque_Black_0);
    }
}

div.I4E-Bit-TextBlock--Hoverable:not(#_) {
    &:hover {
        background-color: var(--I4C_Solids_Opaque_Black_1);
    }
}
