button.I4E-Bit-Button {
  align-items: center;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  font-weight: 600;
  height: 30px;
  padding: 0;
  user-select: none; }
  button.I4E-Bit-Button:not(.I4E-Bit--Disabled) {
    cursor: pointer; }
    button.I4E-Bit-Button:not(.I4E-Bit--Disabled):hover {
      background-color: var(--I4C_Default_Opaque_White_3); }
    button.I4E-Bit-Button:not(.I4E-Bit--Disabled):active {
      background-color: var(--I4C_Default_Opaque_White_2); }
  button.I4E-Bit-Button.I4E-Bit--Disabled {
    cursor: not-allowed; }
  button.I4E-Bit-Button > span.I4E-Bit-Button-Content {
    align-items: center;
    display: inline-flex; }
    button.I4E-Bit-Button > span.I4E-Bit-Button-Content:not(:last-child) {
      margin-right: 5px; }
  button.I4E-Bit-Button:not(.I4E-Bit-Button--IconLeft) {
    padding-left: 10px; }
  button.I4E-Bit-Button.I4E-Bit-Button--IconLeft {
    padding-left: 5px; }
  button.I4E-Bit-Button:not(.I4E-Bit-Button--IconRight) {
    padding-right: 10px; }
  button.I4E-Bit-Button.I4E-Bit-Button--IconRight {
    padding-right: 5px; }
  button.I4E-Bit-Button:focus {
    outline: none; }
  button.I4E-Bit-Button:focus-visible {
    box-shadow: 0 0 1px 0 var(--I4C_Default_Accent_5); }
  button.I4E-Bit-Button.I4E-Bit-Button--Default.I4E-Bit--Disabled {
    opacity: 0.5; }
  button.I4E-Bit-Button.I4E-Bit-Button--Accent {
    background-color: var(--I4C_Default_Accent_5);
    color: var(--I4C_Default_Accent_6_Text); }
    button.I4E-Bit-Button.I4E-Bit-Button--Accent:hover:not(.I4E-Bit--Disabled) {
      background-color: var(--I4C_Default_Accent_4); }
    button.I4E-Bit-Button.I4E-Bit-Button--Accent:active:not(.I4E-Bit--Disabled) {
      background-color: var(--I4C_Default_Accent_3); }
    button.I4E-Bit-Button.I4E-Bit-Button--Accent.I4E-Bit--Disabled {
      opacity: 0.5; }
  button.I4E-Bit-Button.I4E-Bit-Button--Transparent {
    background-color: transparent; }
    button.I4E-Bit-Button.I4E-Bit-Button--Transparent.I4E-Bit--Disabled {
      opacity: 0.5; }

div.I4-App[data-i4-theme-variant="Dark"] button.I4E-Bit-Button.I4E-Bit-Button--Default, div.I4-App[data-i4-theme-variant="Matrix"] button.I4E-Bit-Button.I4E-Bit-Button--Default {
  background-color: var(--I4C_Default_Opaque_White_2);
  box-shadow: var(--I4C_Default_Shadow_0);
  color: var(--I4C_Default_Text_6); }
  div.I4-App[data-i4-theme-variant="Dark"] button.I4E-Bit-Button.I4E-Bit-Button--Default:hover:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="Matrix"] button.I4E-Bit-Button.I4E-Bit-Button--Default:hover:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_White_3);
    color: var(--I4C_Default_Text_6); }
  div.I4-App[data-i4-theme-variant="Dark"] button.I4E-Bit-Button.I4E-Bit-Button--Default:active:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="Matrix"] button.I4E-Bit-Button.I4E-Bit-Button--Default:active:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_White_2);
    color: var(--I4C_Default_Text_6); }

div.I4-App[data-i4-theme-variant="Dark"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent, div.I4-App[data-i4-theme-variant="Matrix"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent {
  color: var(--I4C_Default_Accent_5); }
  div.I4-App[data-i4-theme-variant="Dark"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:hover:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="Matrix"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:hover:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_White_3);
    color: var(--I4C_Default_Accent_6); }
  div.I4-App[data-i4-theme-variant="Dark"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:active:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="Matrix"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:active:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_White_2);
    color: var(--I4C_Default_Accent_6); }

div.I4-App[data-i4-theme-variant="Pink"] button.I4E-Bit-Button.I4E-Bit-Button--Default, div.I4-App[data-i4-theme-variant="White"] button.I4E-Bit-Button.I4E-Bit-Button--Default {
  background-color: var(--I4C_Default_Opaque_Black_1);
  color: var(--I4C_Default_Text_6); }
  div.I4-App[data-i4-theme-variant="Pink"] button.I4E-Bit-Button.I4E-Bit-Button--Default:hover:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="White"] button.I4E-Bit-Button.I4E-Bit-Button--Default:hover:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_Black_2);
    color: var(--I4C_Default_Text_6); }
  div.I4-App[data-i4-theme-variant="Pink"] button.I4E-Bit-Button.I4E-Bit-Button--Default:active:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="White"] button.I4E-Bit-Button.I4E-Bit-Button--Default:active:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_Black_1);
    color: var(--I4C_Default_Text_6); }

div.I4-App[data-i4-theme-variant="Pink"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent, div.I4-App[data-i4-theme-variant="White"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent {
  color: var(--I4C_Default_Accent_5); }
  div.I4-App[data-i4-theme-variant="Pink"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:hover:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="White"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:hover:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_Black_1);
    color: var(--I4C_Default_Accent_6); }
  div.I4-App[data-i4-theme-variant="Pink"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:active:not(.I4E-Bit--Disabled), div.I4-App[data-i4-theme-variant="White"] button.I4E-Bit-Button.I4E-Bit-Button--Transparent:active:not(.I4E-Bit--Disabled) {
    background-color: var(--I4C_Default_Opaque_Black_0);
    color: var(--I4C_Default_Accent_6); }

button.I4E-Bit-Button--Blue:not(.I4E-Bit--Disabled):not(:disabled) {
  background-color: var(--I4C_Solids_Blue_6);
  box-shadow: var(--I4C_Default_Shadow_0);
  border: 1px solid var(--I4C_Solids_Blue_6);
  color: white; }
  button.I4E-Bit-Button--Blue:not(.I4E-Bit--Disabled):not(:disabled):hover, button.I4E-Bit-Button--Blue:not(.I4E-Bit--Disabled):not(:disabled):focus {
    background-color: var(--I4C_Solids_Blue_8);
    border: 1px solid var(--I4C_Solids_Blue_8);
    color: white; }
  button.I4E-Bit-Button--Blue:not(.I4E-Bit--Disabled):not(:disabled):active {
    background-color: var(--I4C_Solids_Blue_10);
    border: 1px solid var(--I4C_Solids_Blue_0);
    color: white; }

button.I4E-Bit-Button--Blue.I4E-Bit--Disabled, button.I4E-Bit-Button--Blue:disabled {
  background-color: transparent;
  border: 1px solid var(--I4C_Default_Border_4);
  color: var(--I4C_Default_Text_0); }

button.I4E-Bit-Button--Green:not(.I4E-Bit--Disabled):not(:disabled) {
  background-color: var(--I4C_Solids_Green_9);
  box-shadow: var(--I4C_Default_Shadow_0);
  border: 1px solid var(--I4C_Solids_Green_9);
  color: white; }
  button.I4E-Bit-Button--Green:not(.I4E-Bit--Disabled):not(:disabled):hover, button.I4E-Bit-Button--Green:not(.I4E-Bit--Disabled):not(:disabled):focus {
    background-color: var(--I4C_Solids_Green_7);
    border: 1px solid var(--I4C_Solids_Green_7);
    color: white; }
  button.I4E-Bit-Button--Green:not(.I4E-Bit--Disabled):not(:disabled):active {
    background-color: var(--I4C_Solids_Green_5);
    border: 1px solid var(--I4C_Solids_Green_4);
    color: white; }

button.I4E-Bit-Button--Green.I4E-Bit--Disabled, button.I4E-Bit-Button--Green:disabled {
  background-color: transparent;
  border: 1px solid var(--I4C_Default_Border_4);
  color: var(--I4C_Default_Text_0); }

button.I4E-Bit-Button--Orange:not(.I4E-Bit--Disabled):not(:disabled) {
  background-color: var(--I4C_Solids_Orange_8);
  box-shadow: var(--I4C_Default_Shadow_0);
  border: 1px solid var(--I4C_Solids_Orange_8);
  color: white; }
  button.I4E-Bit-Button--Orange:not(.I4E-Bit--Disabled):not(:disabled):hover, button.I4E-Bit-Button--Orange:not(.I4E-Bit--Disabled):not(:disabled):focus {
    background-color: var(--I4C_Solids_Orange_6);
    border: 1px solid var(--I4C_Solids_Orange_6);
    color: white; }
  button.I4E-Bit-Button--Orange:not(.I4E-Bit--Disabled):not(:disabled):active {
    background-color: var(--I4C_Solids_Orange_4);
    border: 1px solid var(--I4C_Solids_Orange_3);
    color: white; }

button.I4E-Bit-Button--Orange.I4E-Bit--Disabled, button.I4E-Bit-Button--Orange:disabled {
  background-color: transparent;
  border: 1px solid var(--I4C_Default_Border_4);
  color: var(--I4C_Default_Text_0); }

button.I4E-Bit-Button--Purple:not(.I4E-Bit--Disabled):not(:disabled) {
  background-color: var(--I4C_Solids_Purple_9);
  box-shadow: var(--I4C_Default_Shadow_0);
  border: 1px solid var(--I4C_Solids_Purple_9);
  color: white; }
  button.I4E-Bit-Button--Purple:not(.I4E-Bit--Disabled):not(:disabled):hover, button.I4E-Bit-Button--Purple:not(.I4E-Bit--Disabled):not(:disabled):focus {
    background-color: var(--I4C_Solids_Purple_7);
    border: 1px solid var(--I4C_Solids_Purple_7);
    color: white; }
  button.I4E-Bit-Button--Purple:not(.I4E-Bit--Disabled):not(:disabled):active {
    background-color: var(--I4C_Solids_Purple_5);
    border: 1px solid var(--I4C_Solids_Purple_4);
    color: white; }

button.I4E-Bit-Button--Purple.I4E-Bit--Disabled, button.I4E-Bit-Button--Purple:disabled {
  background-color: transparent;
  border: 1px solid var(--I4C_Default_Border_4);
  color: var(--I4C_Default_Text_0); }

button.I4E-Bit-Button--Red:not(.I4E-Bit--Disabled):not(:disabled) {
  background-color: var(--I4C_Solids_Red_9);
  box-shadow: var(--I4C_Default_Shadow_0);
  border: 1px solid var(--I4C_Solids_Red_9);
  color: white; }
  button.I4E-Bit-Button--Red:not(.I4E-Bit--Disabled):not(:disabled):hover, button.I4E-Bit-Button--Red:not(.I4E-Bit--Disabled):not(:disabled):focus {
    background-color: var(--I4C_Solids_Red_7);
    border: 1px solid var(--I4C_Solids_Red_7);
    color: white; }
  button.I4E-Bit-Button--Red:not(.I4E-Bit--Disabled):not(:disabled):active {
    background-color: var(--I4C_Solids_Red_5);
    border: 1px solid var(--I4C_Solids_Red_4);
    color: white; }

button.I4E-Bit-Button--Red.I4E-Bit--Disabled, button.I4E-Bit-Button--Red:disabled {
  background-color: transparent;
  border: 1px solid var(--I4C_Default_Border_4);
  color: var(--I4C_Default_Text_0); }

button.I4E-Bit-Button--Yellow:not(.I4E-Bit--Disabled):not(:disabled) {
  background-color: var(--I4C_Solids_Yellow_6);
  box-shadow: var(--I4C_Default_Shadow_0);
  border: 1px solid var(--I4C_Solids_Yellow_6);
  color: black; }
  button.I4E-Bit-Button--Yellow:not(.I4E-Bit--Disabled):not(:disabled):hover, button.I4E-Bit-Button--Yellow:not(.I4E-Bit--Disabled):not(:disabled):focus {
    background-color: var(--I4C_Solids_Yellow_5);
    border: 1px solid var(--I4C_Solids_Yellow_5);
    color: black; }
  button.I4E-Bit-Button--Yellow:not(.I4E-Bit--Disabled):not(:disabled):active {
    background-color: var(--I4C_Solids_Yellow_3);
    border: 1px solid var(--I4C_Solids_Yellow_2);
    color: black; }

button.I4E-Bit-Button--Yellow.I4E-Bit--Disabled, button.I4E-Bit-Button--Yellow:disabled {
  background-color: transparent;
  border: 1px solid var(--I4C_Default_Border_4);
  color: var(--I4C_Default_Text_0); }

div.I4E-Bit-Checkbox {
  display: inline-block; }
  div.I4E-Bit-Checkbox:not(.I4E-Bit-IsDisabled) {
    color: var(--I4C_Default_Text_7);
    cursor: pointer; }
    div.I4E-Bit-Checkbox:not(.I4E-Bit-IsDisabled):hover {
      color: var(--I4C_Default_Text_5); }
    div.I4E-Bit-Checkbox:not(.I4E-Bit-IsDisabled):active {
      color: var(--I4C_Default_Text_4); }
  div.I4E-Bit-Checkbox.I4E-Bit-IsDisabled {
    color: var(--I4C_Default_Text_1);
    cursor: not-allowed; }

.I4E-Bit[hidden] {
  display: none !important; }

div.I4E-Bit-Chip, a.I4E-Bit-Chip {
  background-color: var(--I4C_Default_Opaque_White_2);
  border-radius: 5000px;
  box-shadow: var(--I4C_Default_Shadow_0);
  box-sizing: border-box;
  display: inline-block;
  font-weight: 600;
  padding: 2px 7px;
  vertical-align: middle; }
  div.I4E-Bit-Chip.I4E-Bit-Chip--Link, a.I4E-Bit-Chip.I4E-Bit-Chip--Link {
    color: var(--I4C_Default_PageText);
    text-decoration: none; }
    div.I4E-Bit-Chip.I4E-Bit-Chip--Link:focus, a.I4E-Bit-Chip.I4E-Bit-Chip--Link:focus {
      outline: none; }
    div.I4E-Bit-Chip.I4E-Bit-Chip--Link:visited, a.I4E-Bit-Chip.I4E-Bit-Chip--Link:visited {
      color: var(--I4C_Default_PageText); }

div.I4-App[data-i4-theme-variant="Dark"] a.I4E-Bit-Chip--Link:hover, div.I4-App[data-i4-theme-variant="Matrix"] a.I4E-Bit-Chip--Link:hover {
  background-color: var(--I4C_Default_Opaque_White_3); }

div.I4-App[data-i4-theme-variant="Dark"] a.I4E-Bit-Chip--Link:focus, div.I4-App[data-i4-theme-variant="Matrix"] a.I4E-Bit-Chip--Link:focus {
  background-color: var(--I4C_Default_Opaque_White_2); }

div.I4-App[data-i4-theme-variant="Pink"] a.I4E-Bit-Chip--Link:hover, div.I4-App[data-i4-theme-variant="White"] a.I4E-Bit-Chip--Link:hover {
  background-color: var(--I4C_Default_Opaque_Black_0); }

div.I4-App[data-i4-theme-variant="Pink"] a.I4E-Bit-Chip--Link:focus, div.I4-App[data-i4-theme-variant="White"] a.I4E-Bit-Chip--Link:focus {
  background-color: var(--I4C_Default_Opaque_Black_1); }

div.I4E-Bit-Dropdown {
  display: inline-block; }
  div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Head {
    cursor: pointer; }
  div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children {
    background-color: var(--I4C_Default_Background_6);
    border-radius: 5px;
    box-shadow: var(--I4C_Default_Shadow_1);
    display: none;
    margin: 17px;
    padding: 10px;
    position: absolute; }
    div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children[data-show] {
      display: block; }
    div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children div.I4E-Bit-Dropdown-Content > * {
      box-sizing: border-box;
      width: 100%; }
  div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Head[data-contents-shown] a.I4E-Bit-PageLink {
    color: var(--I4C_Default_Accent_8); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children {
  background-color: var(--I4C_Default_Background_6); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children, div.I4-App[data-i4-theme-variant="White"] div.I4E-Bit-Dropdown div.I4E-Bit-Dropdown-Children {
  background-color: var(--I4C_Default_Background_0); }

div.I4E-Bit-Filler {
  flex-grow: 100; }

div.I4E-Bit-HorizontalLine {
  background-color: var(--I4C_Default_Background_14);
  height: 1px;
  margin: 7px 0;
  width: 100%; }

a.I4E-Bit-Link {
  align-items: center;
  border-bottom: 1px solid transparent;
  color: var(--I4C_Default_PageText);
  display: inline-flex;
  text-decoration: none; }
  a.I4E-Bit-Link > span.I4E-Bit-Link-Content {
    align-items: center;
    display: inline-flex; }
    a.I4E-Bit-Link > span.I4E-Bit-Link-Content:not(:last-child) {
      margin-right: 5px; }
  a.I4E-Bit-Link:not(.I4E-Bit-Link--Accented):not(.I4E-Bit-Link--Highlighted) {
    color: var(--I4C_Default_PageText); }
    a.I4E-Bit-Link:not(.I4E-Bit-Link--Accented):not(.I4E-Bit-Link--Highlighted):visited {
      color: var(--I4C_Default_PageText); }
  a.I4E-Bit-Link:not(#_):hover:not(.I4E-Bit-Link--Button) {
    border-bottom: 1px solid;
    color: var(--I4C_Default_Accent_8); }
  a.I4E-Bit-Link:not(#_):active:not(.I4E-Bit-Link--Button) {
    border-bottom: 1px solid;
    color: var(--I4C_Default_Accent_9); }
  a.I4E-Bit-Link.I4E-Bit-Link--Accented {
    color: var(--I4C_Default_Accent_7); }
  a.I4E-Bit-Link.I4E-Bit-Link--Highlighted {
    border-bottom: 1px solid;
    color: var(--I4C_Default_Accent_7); }
  a.I4E-Bit-Link.I4E-Bit-Link--Button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: var(--I4C_Default_Accent_5);
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    height: 30px;
    padding: 0;
    user-select: none; }
    a.I4E-Bit-Link.I4E-Bit-Link--Button:not(.I4E-Bit-Link--Button--IconLeft) {
      padding-left: 10px; }
    a.I4E-Bit-Link.I4E-Bit-Link--Button.I4E-Bit-Link--Button--IconLeft {
      padding-left: 5px; }
    a.I4E-Bit-Link.I4E-Bit-Link--Button:not(.I4E-Bit-Link--Button--IconRight) {
      padding-right: 10px; }
    a.I4E-Bit-Link.I4E-Bit-Link--Button.I4E-Bit-Link--Button--IconRight {
      padding-right: 5px; }
    a.I4E-Bit-Link.I4E-Bit-Link--Button:focus {
      outline: none; }
    a.I4E-Bit-Link.I4E-Bit-Link--Button:focus-visible {
      box-shadow: 0 0 1px 0 var(--I4C_Default_Accent_5); }
    a.I4E-Bit-Link.I4E-Bit-Link--Button:hover {
      background-color: var(--I4C_Default_Opaque_White_3); }
    a.I4E-Bit-Link.I4E-Bit-Link--Button:active {
      background-color: var(--I4C_Default_Opaque_White_2); }

div.I4-App[data-i4-theme-variant="Dark"] a.I4E-Bit-Link--Button:hover, div.I4-App[data-i4-theme-variant="Matrix"] a.I4E-Bit-Link--Button:hover {
  background-color: var(--I4C_Default_Opaque_White_3); }

div.I4-App[data-i4-theme-variant="Dark"] a.I4E-Bit-Link--Button:active, div.I4-App[data-i4-theme-variant="Matrix"] a.I4E-Bit-Link--Button:active {
  background-color: var(--I4C_Default_Opaque_White_2); }

div.I4-App[data-i4-theme-variant="Dark"] a.I4E-Bit-Link--Button:hover, div.I4-App[data-i4-theme-variant="Dark"] a.I4E-Bit-Link--Button:active, div.I4-App[data-i4-theme-variant="Matrix"] a.I4E-Bit-Link--Button:hover, div.I4-App[data-i4-theme-variant="Matrix"] a.I4E-Bit-Link--Button:active {
  box-shadow: var(--I4C_Default_Shadow_0); }

div.I4-App[data-i4-theme-variant="Pink"] a.I4E-Bit-Link--Button:hover, div.I4-App[data-i4-theme-variant="White"] a.I4E-Bit-Link--Button:hover {
  background-color: var(--I4C_Default_Opaque_Black_1); }

div.I4-App[data-i4-theme-variant="Pink"] a.I4E-Bit-Link--Button:active, div.I4-App[data-i4-theme-variant="White"] a.I4E-Bit-Link--Button:active {
  background-color: var(--I4C_Default_Opaque_Black_0); }

a.I4E-Bit-PageLink {
  align-items: center;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  color: var(--I4C_Default_PageText);
  display: inline-flex;
  text-decoration: none; }
  a.I4E-Bit-PageLink:not(.I4E-Bit-PageLink--Title) {
    font-size: 15px;
    font-weight: 500; }
  a.I4E-Bit-PageLink.I4E-Bit-PageLink--Title {
    font-size: 17px;
    font-weight: 600; }
  a.I4E-Bit-PageLink:hover:not(#_) {
    border-bottom-color: var(--I4C_Default_Accent_8);
    color: var(--I4C_Default_Accent_8); }
  a.I4E-Bit-PageLink:active:not(#_) {
    border-bottom-color: var(--I4C_Default_Accent_9);
    color: var(--I4C_Default_Accent_9); }
  a.I4E-Bit-PageLink.I4E-Bit-PageLink--Highlighted, a.I4E-Bit-PageLink[data-highlighted] {
    border-bottom-color: var(--I4C_Default_Accent_7); }
  a.I4E-Bit-PageLink > span.I4E-Bit-PageLink-Content {
    align-items: center;
    display: inline-flex; }
    a.I4E-Bit-PageLink > span.I4E-Bit-PageLink-Content:not(:last-child) {
      margin-right: 5px; }

div.I4E-Bit-TextBlock {
  align-items: center;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  height: 30px;
  padding: 0; }
  div.I4E-Bit-TextBlock > span.I4E-Bit-TextBlock-Content {
    align-items: center;
    display: inline-flex; }
    div.I4E-Bit-TextBlock > span.I4E-Bit-TextBlock-Content:not(:last-child) {
      margin-right: 5px; }
  div.I4E-Bit-TextBlock--Heading {
    font-weight: 500; }
  div.I4E-Bit-TextBlock:focus {
    outline: none; }
  div.I4E-Bit-TextBlock:focus-visible {
    box-shadow: 0 0 1px 0 var(--I4C_Default_Accent_5); }

div.I4-App[data-i4-theme-variant="Dark"] div.I4E-Bit-TextBlock--Hoverable:not(#_):hover, div.I4-App[data-i4-theme-variant="Matrix"] div.I4E-Bit-TextBlock--Hoverable:not(#_):hover {
  background-color: var(--I4C_Default_Opaque_White_3);
  box-shadow: var(--I4C_Default_Shadow_0); }

div.I4-App[data-i4-theme-variant="Pink"] div.I4E-Bit-TextBlock--Hoverable:not(#_):hover, div.I4-App[data-i4-theme-variant="White"] div.I4E-Bit-TextBlock--Hoverable:not(#_):hover {
  background-color: var(--I4C_Default_Opaque_Black_1); }

a.I4E-Bit-Title {
  align-items: center;
  border-bottom: 1px solid transparent;
  color: var(--I4C_Default_PageText);
  display: inline-flex;
  font-size: 21px;
  font-weight: 600;
  position: relative;
  text-decoration: none; }
  a.I4E-Bit-Title::after {
    bottom: -5px;
    content: '';
    display: block;
    height: 4px;
    left: -3px;
    position: absolute;
    width: calc(100% + 6px); }
  a.I4E-Bit-Title:hover:not(#_) {
    color: var(--I4C_Default_Accent_8); }
    a.I4E-Bit-Title:hover:not(#_)::after {
      background-color: var(--I4C_Default_Accent_8); }
  a.I4E-Bit-Title:active:not(#_) {
    color: var(--I4C_Default_Accent_9); }
    a.I4E-Bit-Title:active:not(#_)::after {
      background-color: var(--I4C_Default_Accent_9); }
  a.I4E-Bit-Title.I4E-Bit-Title--Highlighted::after {
    background-color: var(--I4C_Default_Accent_7); }
  a.I4E-Bit-Title > span.I4E-Bit-Title-Content {
    align-items: center;
    display: inline-flex; }
    a.I4E-Bit-Title > span.I4E-Bit-Title-Content:not(:last-child) {
      margin-right: 5px; }

div.I4E-Bit-VerticalLine {
  background-color: var(--I4C_Default_Background_14);
  height: 30px;
  margin: 0 1rem;
  width: 1px; }

code {
  border: 1px solid #DEE2E6;
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0.2rem 0.4rem;
  font-family: monospace; }

.MVisibleOnHover {
  display: none; }
  .MVisibleOnHover .MVisibleOnParentHover {
    display: none; }
  .MVisibleOnHover:hover {
    display: unset; }
    .MVisibleOnHover:hover .MVisibleOnParentHover {
      display: unset; }
