%_InputBase {
    background-color: var(--I4E_InputBase_Background_Normal);
    border: 1px solid var(--I4E_InputBase_Border_Normal);
    border-radius: calc(1em * (3 / 15));
    box-sizing: border-box;
    color: var(--I4C_Default_Text_6);
    font-size: 1rem;
    outline: none;
    transition: background-color 75ms ease-in, border 75ms ease-in;

    &::placeholder {
        font-style: italic;
        opacity: 0.5;
    }

    &:disabled, &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover:not(:disabled):not([data-disabled]) {
        background-color: var(--I4E_InputBase_Background_Hover);
        border-color: var(--I4E_InputBase_Border_Hover);
        transition: background-color 75ms ease-in, border 75ms ease-in;
    }

    &:focus:not(:disabled):not([data-disabled]), &[data-focused]:not(:disabled):not([data-disabled]) {
        background-color: var(--I4E_InputBase_Background_Focus);
        border-color: var(--I4E_InputBase_Border_Focus);
        box-shadow: var(--I4C_Default_Shadow_0);
        transition: background-color 75ms ease-in, border 75ms ease-in;
    }
}

div.I4E-Input-Checkbox, div.I4E-Input-Date, div.I4E-Input-Decimal, div.I4E-Input-Integer, div.I4E-Input-Text, div.I4E-Input-TextArea, div.I4E-Input-Time {
    input, textarea {
        padding: calc(1em * (4 / 15)) calc(1em * (6 / 15));

        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            color: green !important;
        }

        @extend %_InputBase;
    }
}

div.I4E-Input-Select {
    select {
        padding: calc(1em * (3 / 15)) calc(1em * (2 / 15));

        @extend %_InputBase;
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        --I4E_InputBase_Background_Focus: var(--I4C_Default_Background_0);
        --I4E_InputBase_Background_Hover: var(--I4C_Default_Background_8);
        --I4E_InputBase_Background_Normal: var(--I4C_Default_Background_10);

        --I4E_InputBase_Border_Focus: var(--I4C_Default_Accent_7);
        --I4E_InputBase_Border_Hover: var(--I4C_Default_Border_13);
        --I4E_InputBase_Border_Normal: var(--I4C_Default_Border_11);
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        --I4E_InputBase_Background_Focus: var(--I4C_Default_Background_0);
        --I4E_InputBase_Background_Hover: var(--I4C_Default_Background_2);
        --I4E_InputBase_Background_Normal: var(--I4C_Default_Background_5);

        --I4E_InputBase_Border_Focus: var(--I4C_Default_Accent_7);
        --I4E_InputBase_Border_Hover: var(--I4C_Default_Border_10);
        --I4E_InputBase_Border_Normal: var(--I4C_Default_Border_5);
    }
}