%_InputBase {
    background-color: var(--I4E_InputBase_Background_Normal);
    border: 1px solid var(--I4E_InputBase_Border_Normal);
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--I4C_Default_Text_6);
    outline: none;
    transition: background-color 75ms ease-in, border 75ms ease-in;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover:not(:disabled) {
        background-color: var(--I4E_InputBase_Background_Hover);
        border-color: var(--I4E_InputBase_Border_Hover);
        transition: background-color 75ms ease-in, border 75ms ease-in;
    }

    &:focus:not(:disabled) {
        background-color: var(--I4E_InputBase_Background_Focus);
        border-color: var(--I4E_InputBase_Border_Focus);
        box-shadow: var(--I4C_Default_Shadow_0);
        transition: background-color 75ms ease-in, border 75ms ease-in;
    }
}

div.I4E-Input-Checkbox, div.I4E-Input-Date, div.I4E-Input-Decimal, div.I4E-Input-Integer, div.I4E-Input-Text, div.I4E-Input-Time {
    input {
        padding: 4px 6px;

        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            color: green !important;
        }

        @extend %_InputBase;
    }
}

div.I4E-Input-Select {
    select {
        padding: 3px 2px;

        @extend %_InputBase;
    }
}

// Variable colors

div.I4-App {
    &[data-i4-theme-variant="Dark"], &[data-i4-theme-variant="Matrix"] {
        --I4E_InputBase_Background_Normal: var(--I4C_Default_Background_8);
        --I4E_InputBase_Background_Hover: var(--I4C_Default_Background_9);
        --I4E_InputBase_Background_Focus: var(--I4C_Default_Background_10);

        --I4E_InputBase_Border_Normal: var(--I4C_Default_Border_4);
        --I4E_InputBase_Border_Hover: var(--I4C_Default_Border_11);
        --I4E_InputBase_Border_Focus: var(--I4C_Default_Accent_7);
    }

    &[data-i4-theme-variant="Pink"], &[data-i4-theme-variant="White"] {
        --I4E_InputBase_Background_Normal: var(--I4C_Default_Background_2);
        --I4E_InputBase_Background_Hover: var(--I4C_Default_Background_1);
        --I4E_InputBase_Background_Focus: var(--I4C_Default_Background_0);

        --I4E_InputBase_Border_Normal: var(--I4C_Default_Border_4);
        --I4E_InputBase_Border_Hover: var(--I4C_Default_Border_11);
        --I4E_InputBase_Border_Focus: var(--I4C_Default_Accent_7);
    }
}
