:root {
	--I4C-Solids-Blue-0: #0000ff;
	--I4C-Solids-Blue-0-Text: white;
	--I4C-Solids-Blue-1: #0b0ff6;
	--I4C-Solids-Blue-1-Text: white;
	--I4C-Solids-Blue-2: #141ceb;
	--I4C-Solids-Blue-2-Text: white;
	--I4C-Solids-Blue-3: #1d27e0;
	--I4C-Solids-Blue-3-Text: white;
	--I4C-Solids-Blue-4: #2431d5;
	--I4C-Solids-Blue-4-Text: white;
	--I4C-Solids-Blue-5: #2b39ca;
	--I4C-Solids-Blue-5-Text: white;
	--I4C-Solids-Blue-6: #3141c0;
	--I4C-Solids-Blue-6-Text: white;
	--I4C-Solids-Blue-7: #3747b7;
	--I4C-Solids-Blue-7-Text: white;
	--I4C-Solids-Blue-8: #3c4caf;
	--I4C-Solids-Blue-8-Text: white;
	--I4C-Solids-Blue-9: #4151a8;
	--I4C-Solids-Blue-9-Text: white;
	--I4C-Solids-Blue-10: #4656a2;
	--I4C-Solids-Blue-10-Text: white;
	--I4C-Solids-Blue-11: #4b5b9e;
	--I4C-Solids-Blue-11-Text: white;
	--I4C-Solids-Blue-12: #50609b;
	--I4C-Solids-Blue-12-Text: white;
	--I4C-Solids-Blue-13: #56659a;
	--I4C-Solids-Blue-13-Text: white;
	--I4C-Solids-Blue-14: #5c6b99;
	--I4C-Solids-Blue-14-Text: white;
	--I4C-Solids-Green-0: #00ff00;
	--I4C-Solids-Green-0-Text: black;
	--I4C-Solids-Green-1: #01f401;
	--I4C-Solids-Green-1-Text: black;
	--I4C-Solids-Green-2: #02e602;
	--I4C-Solids-Green-2-Text: black;
	--I4C-Solids-Green-3: #04d804;
	--I4C-Solids-Green-3-Text: black;
	--I4C-Solids-Green-4: #06ca06;
	--I4C-Solids-Green-4-Text: black;
	--I4C-Solids-Green-5: #08bd08;
	--I4C-Solids-Green-5-Text: black;
	--I4C-Solids-Green-6: #0bb00b;
	--I4C-Solids-Green-6-Text: black;
	--I4C-Solids-Green-7: #0ea50e;
	--I4C-Solids-Green-7-Text: black;
	--I4C-Solids-Green-8: #139b13;
	--I4C-Solids-Green-8-Text: black;
	--I4C-Solids-Green-9: #199219;
	--I4C-Solids-Green-9-Text: black;
	--I4C-Solids-Green-10: #208b20;
	--I4C-Solids-Green-10-Text: black;
	--I4C-Solids-Green-11: #298629;
	--I4C-Solids-Green-11-Text: white;
	--I4C-Solids-Green-12: #348234;
	--I4C-Solids-Green-12-Text: white;
	--I4C-Solids-Green-13: #408040;
	--I4C-Solids-Green-13-Text: white;
	--I4C-Solids-Green-14: #4d804d;
	--I4C-Solids-Green-14-Text: white;
	--I4C-Solids-Orange-0: #ff8000;
	--I4C-Solids-Orange-0-Text: black;
	--I4C-Solids-Orange-1: #f67d04;
	--I4C-Solids-Orange-1-Text: black;
	--I4C-Solids-Orange-2: #ed7b08;
	--I4C-Solids-Orange-2-Text: black;
	--I4C-Solids-Orange-3: #e4780c;
	--I4C-Solids-Orange-3-Text: black;
	--I4C-Solids-Orange-4: #db7510;
	--I4C-Solids-Orange-4-Text: black;
	--I4C-Solids-Orange-5: #d17213;
	--I4C-Solids-Orange-5-Text: black;
	--I4C-Solids-Orange-6: #c86f15;
	--I4C-Solids-Orange-6-Text: black;
	--I4C-Solids-Orange-7: #bf6c18;
	--I4C-Solids-Orange-7-Text: black;
	--I4C-Solids-Orange-8: #b6681a;
	--I4C-Solids-Orange-8-Text: black;
	--I4C-Solids-Orange-9: #ad641c;
	--I4C-Solids-Orange-9-Text: white;
	--I4C-Solids-Orange-10: #a4611d;
	--I4C-Solids-Orange-10-Text: white;
	--I4C-Solids-Orange-11: #9b5d1e;
	--I4C-Solids-Orange-11-Text: white;
	--I4C-Solids-Orange-12: #92581f;
	--I4C-Solids-Orange-12-Text: white;
	--I4C-Solids-Orange-13: #895420;
	--I4C-Solids-Orange-13-Text: white;
	--I4C-Solids-Orange-14: #805020;
	--I4C-Solids-Orange-14-Text: white;
	--I4C-Solids-Purple-0: #b300ff;
	--I4C-Solids-Purple-0-Text: white;
	--I4C-Solids-Purple-1: #ab01f4;
	--I4C-Solids-Purple-1-Text: white;
	--I4C-Solids-Purple-2: #a202e6;
	--I4C-Solids-Purple-2-Text: white;
	--I4C-Solids-Purple-3: #9903d8;
	--I4C-Solids-Purple-3-Text: white;
	--I4C-Solids-Purple-4: #8f05ca;
	--I4C-Solids-Purple-4-Text: white;
	--I4C-Solids-Purple-5: #8607bd;
	--I4C-Solids-Purple-5-Text: white;
	--I4C-Solids-Purple-6: #7e09b0;
	--I4C-Solids-Purple-6-Text: white;
	--I4C-Solids-Purple-7: #770ca5;
	--I4C-Solids-Purple-7-Text: white;
	--I4C-Solids-Purple-8: #71109b;
	--I4C-Solids-Purple-8-Text: white;
	--I4C-Solids-Purple-9: #6d1592;
	--I4C-Solids-Purple-9-Text: white;
	--I4C-Solids-Purple-10: #6a1b8b;
	--I4C-Solids-Purple-10-Text: white;
	--I4C-Solids-Purple-11: #682286;
	--I4C-Solids-Purple-11-Text: white;
	--I4C-Solids-Purple-12: #682b82;
	--I4C-Solids-Purple-12-Text: white;
	--I4C-Solids-Purple-13: #6a3580;
	--I4C-Solids-Purple-13-Text: white;
	--I4C-Solids-Purple-14: #6c4080;
	--I4C-Solids-Purple-14-Text: white;
	--I4C-Solids-Red-0: #ff0000;
	--I4C-Solids-Red-0-Text: black;
	--I4C-Solids-Red-1: #f80808;
	--I4C-Solids-Red-1-Text: black;
	--I4C-Solids-Red-2: #f00f0f;
	--I4C-Solids-Red-2-Text: black;
	--I4C-Solids-Red-3: #e91616;
	--I4C-Solids-Red-3-Text: white;
	--I4C-Solids-Red-4: #e21d1d;
	--I4C-Solids-Red-4-Text: white;
	--I4C-Solids-Red-5: #db2323;
	--I4C-Solids-Red-5-Text: white;
	--I4C-Solids-Red-6: #d32929;
	--I4C-Solids-Red-6-Text: white;
	--I4C-Solids-Red-7: #cc2e2e;
	--I4C-Solids-Red-7-Text: white;
	--I4C-Solids-Red-8: #c53333;
	--I4C-Solids-Red-8-Text: white;
	--I4C-Solids-Red-9: #bd3737;
	--I4C-Solids-Red-9-Text: white;
	--I4C-Solids-Red-10: #b63b3b;
	--I4C-Solids-Red-10-Text: white;
	--I4C-Solids-Red-11: #af3e3e;
	--I4C-Solids-Red-11-Text: white;
	--I4C-Solids-Red-12: #a84141;
	--I4C-Solids-Red-12-Text: white;
	--I4C-Solids-Red-13: #a04343;
	--I4C-Solids-Red-13-Text: white;
	--I4C-Solids-Red-14: #994545;
	--I4C-Solids-Red-14-Text: white;
	--I4C-Solids-Yellow-0: #ffff00;
	--I4C-Solids-Yellow-0-Text: black;
	--I4C-Solids-Yellow-1: #f6f601;
	--I4C-Solids-Yellow-1-Text: black;
	--I4C-Solids-Yellow-2: #eded03;
	--I4C-Solids-Yellow-2-Text: black;
	--I4C-Solids-Yellow-3: #e4e404;
	--I4C-Solids-Yellow-3-Text: black;
	--I4C-Solids-Yellow-4: #dbdb06;
	--I4C-Solids-Yellow-4-Text: black;
	--I4C-Solids-Yellow-5: #d1d109;
	--I4C-Solids-Yellow-5-Text: black;
	--I4C-Solids-Yellow-6: #c8c80c;
	--I4C-Solids-Yellow-6-Text: black;
	--I4C-Solids-Yellow-7: #bfbf11;
	--I4C-Solids-Yellow-7-Text: black;
	--I4C-Solids-Yellow-8: #b6b616;
	--I4C-Solids-Yellow-8-Text: black;
	--I4C-Solids-Yellow-9: #adad1d;
	--I4C-Solids-Yellow-9-Text: black;
	--I4C-Solids-Yellow-10: #a4a426;
	--I4C-Solids-Yellow-10-Text: black;
	--I4C-Solids-Yellow-11: #9b9b30;
	--I4C-Solids-Yellow-11-Text: black;
	--I4C-Solids-Yellow-12: #92923a;
	--I4C-Solids-Yellow-12-Text: black;
	--I4C-Solids-Yellow-13: #898944;
	--I4C-Solids-Yellow-13-Text: black;
	--I4C-Solids-Yellow-14: #80804d;
	--I4C-Solids-Yellow-14-Text: black;
}
