:root {
	--I4C_Solids_Blue_0: #0000ff;
	--I4C_Solids_Blue_0_Text: white;
	--I4C_Solids_Blue_1: #0b0ff6;
	--I4C_Solids_Blue_1_Text: white;
	--I4C_Solids_Blue_2: #141ceb;
	--I4C_Solids_Blue_2_Text: white;
	--I4C_Solids_Blue_3: #1d27e0;
	--I4C_Solids_Blue_3_Text: white;
	--I4C_Solids_Blue_4: #2431d5;
	--I4C_Solids_Blue_4_Text: white;
	--I4C_Solids_Blue_5: #2b39ca;
	--I4C_Solids_Blue_5_Text: white;
	--I4C_Solids_Blue_6: #3141c0;
	--I4C_Solids_Blue_6_Text: white;
	--I4C_Solids_Blue_7: #3747b7;
	--I4C_Solids_Blue_7_Text: white;
	--I4C_Solids_Blue_8: #3c4caf;
	--I4C_Solids_Blue_8_Text: white;
	--I4C_Solids_Blue_9: #4151a8;
	--I4C_Solids_Blue_9_Text: white;
	--I4C_Solids_Blue_10: #4656a2;
	--I4C_Solids_Blue_10_Text: white;
	--I4C_Solids_Blue_11: #4b5b9e;
	--I4C_Solids_Blue_11_Text: white;
	--I4C_Solids_Blue_12: #50609b;
	--I4C_Solids_Blue_12_Text: white;
	--I4C_Solids_Blue_13: #56659a;
	--I4C_Solids_Blue_13_Text: white;
	--I4C_Solids_Blue_14: #5c6b99;
	--I4C_Solids_Blue_14_Text: white;
	--I4C_Solids_Green_0: #00ff00;
	--I4C_Solids_Green_0_Text: black;
	--I4C_Solids_Green_1: #01f401;
	--I4C_Solids_Green_1_Text: black;
	--I4C_Solids_Green_2: #02e602;
	--I4C_Solids_Green_2_Text: black;
	--I4C_Solids_Green_3: #04d804;
	--I4C_Solids_Green_3_Text: black;
	--I4C_Solids_Green_4: #06ca06;
	--I4C_Solids_Green_4_Text: black;
	--I4C_Solids_Green_5: #08bd08;
	--I4C_Solids_Green_5_Text: black;
	--I4C_Solids_Green_6: #0bb00b;
	--I4C_Solids_Green_6_Text: black;
	--I4C_Solids_Green_7: #0ea50e;
	--I4C_Solids_Green_7_Text: black;
	--I4C_Solids_Green_8: #139b13;
	--I4C_Solids_Green_8_Text: black;
	--I4C_Solids_Green_9: #199219;
	--I4C_Solids_Green_9_Text: black;
	--I4C_Solids_Green_10: #208b20;
	--I4C_Solids_Green_10_Text: black;
	--I4C_Solids_Green_11: #298629;
	--I4C_Solids_Green_11_Text: white;
	--I4C_Solids_Green_12: #348234;
	--I4C_Solids_Green_12_Text: white;
	--I4C_Solids_Green_13: #408040;
	--I4C_Solids_Green_13_Text: white;
	--I4C_Solids_Green_14: #4d804d;
	--I4C_Solids_Green_14_Text: white;
	--I4C_Solids_Orange_0: #ff8000;
	--I4C_Solids_Orange_0_Text: black;
	--I4C_Solids_Orange_1: #f67d04;
	--I4C_Solids_Orange_1_Text: black;
	--I4C_Solids_Orange_2: #ed7b08;
	--I4C_Solids_Orange_2_Text: black;
	--I4C_Solids_Orange_3: #e4780c;
	--I4C_Solids_Orange_3_Text: black;
	--I4C_Solids_Orange_4: #db7510;
	--I4C_Solids_Orange_4_Text: black;
	--I4C_Solids_Orange_5: #d17213;
	--I4C_Solids_Orange_5_Text: black;
	--I4C_Solids_Orange_6: #c86f15;
	--I4C_Solids_Orange_6_Text: black;
	--I4C_Solids_Orange_7: #bf6c18;
	--I4C_Solids_Orange_7_Text: black;
	--I4C_Solids_Orange_8: #b6681a;
	--I4C_Solids_Orange_8_Text: black;
	--I4C_Solids_Orange_9: #ad641c;
	--I4C_Solids_Orange_9_Text: white;
	--I4C_Solids_Orange_10: #a4611d;
	--I4C_Solids_Orange_10_Text: white;
	--I4C_Solids_Orange_11: #9b5d1e;
	--I4C_Solids_Orange_11_Text: white;
	--I4C_Solids_Orange_12: #92581f;
	--I4C_Solids_Orange_12_Text: white;
	--I4C_Solids_Orange_13: #895420;
	--I4C_Solids_Orange_13_Text: white;
	--I4C_Solids_Orange_14: #805020;
	--I4C_Solids_Orange_14_Text: white;
	--I4C_Solids_Purple_0: #b300ff;
	--I4C_Solids_Purple_0_Text: white;
	--I4C_Solids_Purple_1: #ab01f4;
	--I4C_Solids_Purple_1_Text: white;
	--I4C_Solids_Purple_2: #a202e6;
	--I4C_Solids_Purple_2_Text: white;
	--I4C_Solids_Purple_3: #9903d8;
	--I4C_Solids_Purple_3_Text: white;
	--I4C_Solids_Purple_4: #8f05ca;
	--I4C_Solids_Purple_4_Text: white;
	--I4C_Solids_Purple_5: #8607bd;
	--I4C_Solids_Purple_5_Text: white;
	--I4C_Solids_Purple_6: #7e09b0;
	--I4C_Solids_Purple_6_Text: white;
	--I4C_Solids_Purple_7: #770ca5;
	--I4C_Solids_Purple_7_Text: white;
	--I4C_Solids_Purple_8: #71109b;
	--I4C_Solids_Purple_8_Text: white;
	--I4C_Solids_Purple_9: #6d1592;
	--I4C_Solids_Purple_9_Text: white;
	--I4C_Solids_Purple_10: #6a1b8b;
	--I4C_Solids_Purple_10_Text: white;
	--I4C_Solids_Purple_11: #682286;
	--I4C_Solids_Purple_11_Text: white;
	--I4C_Solids_Purple_12: #682b82;
	--I4C_Solids_Purple_12_Text: white;
	--I4C_Solids_Purple_13: #6a3580;
	--I4C_Solids_Purple_13_Text: white;
	--I4C_Solids_Purple_14: #6c4080;
	--I4C_Solids_Purple_14_Text: white;
	--I4C_Solids_Red_0: #ff0000;
	--I4C_Solids_Red_0_Text: black;
	--I4C_Solids_Red_1: #f80808;
	--I4C_Solids_Red_1_Text: black;
	--I4C_Solids_Red_2: #f00f0f;
	--I4C_Solids_Red_2_Text: black;
	--I4C_Solids_Red_3: #e91616;
	--I4C_Solids_Red_3_Text: white;
	--I4C_Solids_Red_4: #e21d1d;
	--I4C_Solids_Red_4_Text: white;
	--I4C_Solids_Red_5: #db2323;
	--I4C_Solids_Red_5_Text: white;
	--I4C_Solids_Red_6: #d32929;
	--I4C_Solids_Red_6_Text: white;
	--I4C_Solids_Red_7: #cc2e2e;
	--I4C_Solids_Red_7_Text: white;
	--I4C_Solids_Red_8: #c53333;
	--I4C_Solids_Red_8_Text: white;
	--I4C_Solids_Red_9: #bd3737;
	--I4C_Solids_Red_9_Text: white;
	--I4C_Solids_Red_10: #b63b3b;
	--I4C_Solids_Red_10_Text: white;
	--I4C_Solids_Red_11: #af3e3e;
	--I4C_Solids_Red_11_Text: white;
	--I4C_Solids_Red_12: #a84141;
	--I4C_Solids_Red_12_Text: white;
	--I4C_Solids_Red_13: #a04343;
	--I4C_Solids_Red_13_Text: white;
	--I4C_Solids_Red_14: #994545;
	--I4C_Solids_Red_14_Text: white;
	--I4C_Solids_Yellow_0: #ffff00;
	--I4C_Solids_Yellow_0_Text: black;
	--I4C_Solids_Yellow_1: #f6f601;
	--I4C_Solids_Yellow_1_Text: black;
	--I4C_Solids_Yellow_2: #eded03;
	--I4C_Solids_Yellow_2_Text: black;
	--I4C_Solids_Yellow_3: #e4e404;
	--I4C_Solids_Yellow_3_Text: black;
	--I4C_Solids_Yellow_4: #dbdb06;
	--I4C_Solids_Yellow_4_Text: black;
	--I4C_Solids_Yellow_5: #d1d109;
	--I4C_Solids_Yellow_5_Text: black;
	--I4C_Solids_Yellow_6: #c8c80c;
	--I4C_Solids_Yellow_6_Text: black;
	--I4C_Solids_Yellow_7: #bfbf11;
	--I4C_Solids_Yellow_7_Text: black;
	--I4C_Solids_Yellow_8: #b6b616;
	--I4C_Solids_Yellow_8_Text: black;
	--I4C_Solids_Yellow_9: #adad1d;
	--I4C_Solids_Yellow_9_Text: black;
	--I4C_Solids_Yellow_10: #a4a426;
	--I4C_Solids_Yellow_10_Text: black;
	--I4C_Solids_Yellow_11: #9b9b30;
	--I4C_Solids_Yellow_11_Text: black;
	--I4C_Solids_Yellow_12: #92923a;
	--I4C_Solids_Yellow_12_Text: black;
	--I4C_Solids_Yellow_13: #898944;
	--I4C_Solids_Yellow_13_Text: black;
	--I4C_Solids_Yellow_14: #80804d;
	--I4C_Solids_Yellow_14_Text: black;
	--I4C_Solids_Opaque_White_0: hsla(0, 0%, 100%, 0.05);
	--I4C_Solids_Opaque_White_1: hsla(0, 0%, 100%, 0.1);
	--I4C_Solids_Opaque_White_2: hsla(0, 0%, 100%, 0.15);
	--I4C_Solids_Opaque_White_3: hsla(0, 0%, 100%, 0.2);
	--I4C_Solids_Opaque_White_4: hsla(0, 0%, 100%, 0.25);
	--I4C_Solids_Opaque_White_5: hsla(0, 0%, 100%, 0.3);
	--I4C_Solids_Opaque_White_6: hsla(0, 0%, 100%, 0.4);
	--I4C_Solids_Opaque_White_7: hsla(0, 0%, 100%, 0.5);
	--I4C_Solids_Opaque_White_8: hsla(0, 0%, 100%, 0.6);
	--I4C_Solids_Opaque_White_9: hsla(0, 0%, 100%, 0.7);
	--I4C_Solids_Opaque_White_10: hsla(0, 0%, 100%, 0.75);
	--I4C_Solids_Opaque_White_11: hsla(0, 0%, 100%, 0.8);
	--I4C_Solids_Opaque_White_12: hsla(0, 0%, 100%, 0.85);
	--I4C_Solids_Opaque_White_13: hsla(0, 0%, 100%, 0.9);
	--I4C_Solids_Opaque_White_14: hsla(0, 0%, 100%, 0.95);
	--I4C_Solids_Opaque_Black_0: hsla(0, 0%, 0%, 0.05);
	--I4C_Solids_Opaque_Black_1: hsla(0, 0%, 0%, 0.1);
	--I4C_Solids_Opaque_Black_2: hsla(0, 0%, 0%, 0.15);
	--I4C_Solids_Opaque_Black_3: hsla(0, 0%, 0%, 0.2);
	--I4C_Solids_Opaque_Black_4: hsla(0, 0%, 0%, 0.25);
	--I4C_Solids_Opaque_Black_5: hsla(0, 0%, 0%, 0.3);
	--I4C_Solids_Opaque_Black_6: hsla(0, 0%, 0%, 0.4);
	--I4C_Solids_Opaque_Black_7: hsla(0, 0%, 0%, 0.5);
	--I4C_Solids_Opaque_Black_8: hsla(0, 0%, 0%, 0.6);
	--I4C_Solids_Opaque_Black_9: hsla(0, 0%, 0%, 0.7);
	--I4C_Solids_Opaque_Black_10: hsla(0, 0%, 0%, 0.75);
	--I4C_Solids_Opaque_Black_11: hsla(0, 0%, 0%, 0.8);
	--I4C_Solids_Opaque_Black_12: hsla(0, 0%, 0%, 0.85);
	--I4C_Solids_Opaque_Black_13: hsla(0, 0%, 0%, 0.9);
	--I4C_Solids_Opaque_Black_14: hsla(0, 0%, 0%, 0.95);
}
