<div class="Background"></div>
<div class="Content">
    <div class="Message">
        A fatal error has occurred.
        <br>
        <br>
        This application may no longer respond until reloaded, but you can continue to view it in its current state.
        <br>
        <br>
    </div>
    <div class="Buttons">
        <button class="I4E-Bit-Button I4E-Bit-Button--Blue dismiss">DISMISS</button>
        <button class="I4E-Bit-Button I4E-Bit-Button--Red reload" href="">RELOAD</button>
    </div>
</div>